/*
==========================================================================
	Características :: PRENDASYS by: KUBIK;
==========================================================================
*/
/* reCaptcha styles */
/*.recaptcha-holder{}
.recaptcha-holder .grecaptcha-badge{bottom:80px !important;}*/

/*.base-whatsapp {transform: rotate(90deg) !important;}
#whatsapp-btn {transform: rotate(280deg);}*/

.base-whatsapp{display:none;}
.specialbase-whatsapp{display:block;}

#alert {display:none !important;}

.recaptcha-holder{display: inline-block; margin:15px auto;}
.recaptcha-holder .grecaptcha-badge{position: relative !important;right: 0 !important;}

#home-section{padding:0;position:relative;}
.top-container{
  display:block;
  width:100%;
  height:auto;
  position:relative;
}
#slideshow{
  width:100%;
  height:518px;
  display:block;
  position:relative;
  /*z-index:50;*/
}
#slideshow .item{}
#slideshow .item .slide{
  width:100%;
  height:480px;
}
#slideshow .item .slide#slide1{background:url(../images/caracteristicas/slideshow/slide1.jpg)top center no-repeat;}
#slideshow .item .slide#slide2{background:url(../images/caracteristicas/slideshow/slide2.jpg)top center no-repeat;}
#slideshow .item .slide#slide3{background:url(../images/caracteristicas/slideshow/slide3.jpg)top center no-repeat;}
#slideshow .item .slide-sm, #slideshow .item .slide-xs{display:block;width:100%;height:auto;}
#slideshow .item .slide-sm img, #slideshow .item .slide-xs img{width:100%;height:auto;}
#formulario-container{
  position:absolute;
  z-index:51;
  display:block;
  width:460px;
  height:auto;  
  border-radius:25px 25px 0 0;
  padding:25px 15px;
  top:17px;
  right:calc(50% - 680px);
  background: rgb(255,255,255);
  background: -webkit-linear-gradient(rgba(255,255,255,0.8995973389355743) 0%, rgba(255,255,255,1) 66%);
  background: -o-linear-gradient(rgba(255,255,255,0.8995973389355743) 0%, rgba(255,255,255,1) 66%);
  background: linear-gradient(rgba(255,255,255,0.8995973389355743) 0%, rgba(255,255,255,1) 66%);
  text-align: center;
  padding-bottom:33px;
}
#formulario-container:before{
  content:'';
  position:absolute;
  bottom:0;
  left:-211px;
  width:211px;
  height:64px;
  background:url(../images/form/s-base-initial.png)top center no-repeat;
}
#formulario-container:after{
  content:'';
  position:absolute;
  bottom:0;
  right:-114px;
  width:114px;
  height:64px;
  background:url(../images/form/s-base-end.png)top center no-repeat;
}
#formulario-container #formulario{}
#formulario-container #formulario .heading-form{padding:0 15px;}
#formulario-container #formulario select.custom-select-lg{height: calc(2.875rem + 2px) !important;}
#formulario-container #formulario textarea{height:60px;}
#formulario-container #formulario .send-btn{
  width:100%;
  background:url(../images/form/send-icon.png)-55px 8px no-repeat #ff6600;
  transition: ease .168s;
  -webkit-transition: ease .168s;
  border-radius:0;
}
#formulario-container #formulario .send-btn:hover{
  background-position: 75px 8px;
  padding-left: 55px;
}
#initial-desc{
  background:#f0f1f0;
  display:block;
  width:100%;
  height:auto;
  padding:140px 0;
  max-width:1440px;
  margin:0 auto;
}
#initial-desc h2{
  font-size: 36px;
  font-weight:700;
  display:block;
  color:#535353;
}
#initial-desc h3{
  font-size: 30px;
  font-weight:300;
  display:block;
  color:#535353;
}
#initial-desc h4{
  font-size:23px;
  margin-top:5px;
  font-weight:300;
  display:block;
  color:#535353;
}

/* BLOQUES */

#info-bloques{
  display:block;
  width:100%;
  height:auto;
  padding:0;
  max-width:1440px;
  margin:0 auto;
}
#bloques{
  width:100%;
  height: 600px;
  /*background: #f2f2f2;*/
  background:url(../images/pattern.gif)repeat;
} 
#bloques .item {height: 600px;}
#bloques .item.x1{width:300px;}
#bloques .item.x2{width:600px;}
a.bloque1x1{width:300px;height:300px;display:block;margin:0;padding:0;position:relative;background:#000;overflow:hidden;}
a.bloque2x2{width:600px;height:600px;display:block;margin:0;padding:0;position:relative;background:#000;overflow:hidden;}

a.bloque1x1 img{position:absolute;z-index:1;width:100%;height:auto;top:0;left:0;transition: ease .333s;-webkit-transition: ease .333s;}
a.bloque2x2 img{position:absolute;z-index:1;width:100%;height:auto;top:0;left:0;transition: ease .333s;-webkit-transition: ease .333s;}

a.bloque1x1:hover img{opacity:0.16 !important;}
a.bloque2x2:hover img{opacity:0.16 !important;}

a.bloque1x1 .caption, a.bloque2x2 .caption{
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  z-index:2;
  text-align:center;
  padding:15px;
  overflow: hidden;
  background: rgb(0,0,0);
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.16) 66%, rgba(0,0,0,0.6180339) 81%, rgba(0,0,0,0.81) 100%);
  background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.16) 66%, rgba(0,0,0,0.6180339) 81%, rgba(0,0,0,0.81) 100%);
  background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.16) 66%, rgba(0,0,0,0.6180339) 81%, rgba(0,0,0,0.81) 100%);
}
/*1.618033988749894848204586834365638117720309179805762862135*/
a.bloque1x1 .caption h3.label, a.bloque2x2 .caption h3.label{
  width:100%;
  text-align:center;
  display:block;
  height:40px;
  left:0;
  position:absolute;
  bottom:40px;
  color:#fff;
  font-size:24px;
  font-weight:300;
  transition: ease-out .333s;
  -webkit-transition: ease-out .333s;
}
a.bloque1x1 .caption p.description, a.bloque2x2 .caption p.description{
  width:100%;
  text-align:center;
  display:block;
  height:auto;
  min-height:90px;
  left:0;
  position:absolute;
  bottom:-110px;
  color:#e5f9c6;
  font-size:20px;
  padding:0 20px;
  transition: ease-out .333s;
  -webkit-transition: ease-out .333s;
  transition-delay:.111s;
}
a.bloque1x1 .caption div.btn.ghostBtn, a.bloque2x2 .caption div.btn.ghostBtn{
  display:block;
  width:180px;
  left:calc(50% - 90px);
  position:absolute;
  bottom:-140px;
  transition: ease-out .333s;
  -webkit-transition: ease-out .333s;
  transition-delay:.333s;
}
/* HOVER */
a.bloque1x1:hover .caption h3.label, a.bloque2x2:hover .caption h3.label{
  bottom:calc(50% + 40px);
}
a.bloque1x1:hover .caption p.description, a.bloque2x2:hover .caption p.description{
  bottom:calc(50% - 80px);
}
a.bloque1x1:hover .caption div.btn.ghostBtn, a.bloque2x2:hover .caption div.btn.ghostBtn{
  bottom:40px;
}
.item.foo-item.x2{}

/* CONTENT */

#content{
  width:100%;
  display:block;
  max-width:1440px;
  height:auto;
  min-height:140px;
  margin:0 auto;
}
#content .bloque{display:none;margin:0px;}
#content .bloque .contenido{}
#content .bloque .contenido .row{}
#content .bloque .title{
  width:100%;
  height:auto;
  position:relative;
  z-index:3;
}
#content .bloque .title:before{
  content:'';
  display:block;
  position:absolute;
  width:15px;
  height:163px;
  background:url(../images/title-ini.png)top center no-repeat;
  top:0;
  left:0;
}
#content .bloque .title:after{
  content:'';
  display:block;
  position:absolute;
  width:15px;
  height:163px;
  background:url(../images/title-end.png)top center no-repeat;
  top:0;
  right:0px;
}
#content .bloque .title h2{
  display:block;
  width:100%;
  height:88px;
  line-height:88px;
  padding:0 90px;
  margin:0 0 45px;
  background:#ff6600;
  color:#fff;
  font-size:30px;
  font-weight:700;
}
#content .bloque .title h2 .arrows{
  width: 60px;
  height: 88px;
  display: block;
  float: right;
  clear:both;
}

#content .bloque .title h2 .arrows i.fa{
  display:block;
  color:#fff;
  opacity:0.6;
  transition: ease .168s;
  -webkit-transition: ease .168s;
  line-height:88px;
}
#content .bloque .title h2 .arrows i.fa:hover{opacity:1;}
#content .bloque .title h2 .arrows i.fa.fa-chevron-left{float:left;}
#content .bloque .title h2 .arrows i.fa.fa-chevron-right{float:right;}

#content .bloque .texto{display:block;padding:15px;text-align:center;}
#content .bloque .texto h3{font-size:21px;font-weight:300;color:#000;}
#content .bloque .texto p{margin-top:16px;font-size:16px;color:#252525; line-height: 1.6;}

.text-aviso {
    font-size: 12px;
}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        QUERIES
::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (min-width: 1440px){}
@media screen and (min-width: 1200px){
  .foo-object{display:none;}
}
@media screen and (max-width: 1440px){
  #formulario-container{right:calc(50% - 600px);}
  #slideshow .item .slide#slide3 {background-position:-380px 0px;}
}
@media screen and (max-width: 1200px){
  #slideshow .item .slide#slide1 {background-position:-200px 0px;}
  #slideshow .item .slide#slide2 {background-position:-200px 0px;}
  #slideshow .item .slide#slide3 {background-position:-200px 0px;}
  #formulario-container {position:relative;width:calc(100% - 60px);border-radius:0;top:0;right:30px;left:30px;background:#fff;padding-bottom:45px;}
  #formulario-container:before{display:none;}
  #formulario-container:after{display:none;}
  #formulario-container #formulario {margin-top:60px;}
  #formulario-container #formulario .send-btn {max-width: 300px;}
  .form-control.form-control-sm {padding: .375rem .75rem;font-size: 1rem;}
}
@media screen and (max-width: 991px){
  #slideshow{height:auto;}
}
@media screen and (max-width: 767px){
  #content .bloque .title h2 {padding: 0 30px;margin: 0 0 30px;}
  #formulario-container {padding: 0 0 30px;}
  #content .bloque .contenido{}
  #content .bloque .contenido .row{display:block;}
}
@media screen and (max-width: 640px){
  .container.contenido .content-element{padding:0 30px !important;}
  .container.contenido .content-element .texto{padding:15px 0 !important;}
}
@media screen and (max-width: 600px){
  #bloques .item.x2{width:300px;}
  a.bloque2x2{width:300px;}
  a.bloque2x2 img{width:200% !important;left:calc(50% - 300px);}
  #content .bloque .title:after, #content .bloque .title:before{display:none;}
  #content .bloque .title h2 {height: auto;line-height: normal;padding: 20px 90px 20px 30px;margin: 0 0 30px;position:relative;}
  #content .bloque .title h2 .arrows{position:absolute;top:-3px;right:15px;}
}
@media screen and (max-width: 510px){}
@media screen and (max-width: 480px){
  #formulario-container {width: calc(100% - 30px);right: 15px;left: 15px;}
  
  
}
@media screen and (max-width: 360px){}