/*
==========================================================================
	SECTION :: PRENDASYS - KUBIK;
==========================================================================
*/

.info-slide{ position: relative; top: 0; display: block; width: 100%; max-width: 100%;z-index:2;}
.back-blanco{display: inline-block; position: relative; width: 100%; top: 0px; left: 0;}
.registro{width: 100%; display: inline-block; position: relative; max-width: 500px;}
.regis-text{ font-weight: initial;font-size:28px;}
.btn-info-orange{background: #ff6600 !important; border: 1px #ff6600 !important;font-size: 14px;}

.info-redes{/*display: flex; */width: 100%; position: relative; padding: 30px 20px;}
.title-contacto-lugar{font-size: 24px; margin-bottom: 20px;}
.data-text{color: #818181 !important; display: inline-block; font-size: 16px; font-weight: 600;}
.data-text:hover{color: #000 !important;}
.data-text:hover{opacity:0.77;}

.redes-prendasys{width: 100%; display: inline-block;}
.fondo-formulario{background:#aaa;border-top:1px solid #fff;}
.text-form{color: #ffffff;font-weight: initial;}
.text-aviso{font-size: 12px;}
.text-aviso a{color:#ff6600;}
.btn-pharmacy-send2{border: 2px solid #fff;width: 200px; padding: 4px 10px;text-align: revert;}
.info-bisoft{width: 100%; display: inline-block; max-width: 100%; font-weight: bolder; padding: 10px 20px; font-size: 16px; text-align: left; line-height: 26px;}
.whiteText{color: #ffffff;font-family: 'Exo', sans-serif;font-weight: 500;}
.TitleForm1{font-size: 42px;}
.TitleForm2{font-size: 28px;}
textarea{height: 200px;}
.recaptcha-holder{display: flex; justify-content: center;}
.recaptcha-holder .grecaptcha-badge{position: relative !important;right: 0 !important;}

/* Correcciones x Armando */

#header-contacto.parallaxParent{
	width:100%;
	display:block;
	padding:20px 0;
	/* height:640px !important; */
	position:relative;
	z-index:1;
	display:block;
	overflow: hidden;
}
#header-contacto .image-parallax {
  height:110%;
  width:100%;
  position: absolute;
  top: -60%;
  background-size: cover !important;
  z-index:1;
}

#conexiones{
	position:absolute;
	display:block; 
	bottom:-160px;
	left:calc(100% - 350px);
}


#divided-formulario{
	position:relative;
}
#operadora img{position:relative;}
#operadora{
	position:absolute;
	bottom:0;
	left:-180px;
	width:638px;
	height:628px;
	/*margin-left:30px !important;*/
}
#redes-contacto{}
#redes-contacto a{
	opacity:0.66;
}
#redes-contacto a:hover{
	opacity:1;
}


hr.dashed.clearfix{border-top: 1px dashed #ccc;}

ul#redesContacto{
	margin:20px auto 20px;
	padding:0;
	list-style:none;
	text-align:center;
	float:none;
	display:block;
	width:100%;
}
ul#redesContacto li{
	display:inline-block;
	margin:5px;
}
ul#redesContacto li a.redesIcon{
	background:rgba(0,0,0,0);
	width:55px;
	height:55px;
	border:3px solid #a0a0a0;
	position:relative;
	z-index:2;
	display:block;
	text-align:center;
	padding-top:11px;
	border-radius:50%;
	transition: ease .168s;
	-webkit-transition: ease .168s;
}
a.redesIcon#linkedinF:hover{background:rgba(0, 115, 177,1);border-color:rgba(0, 115, 177,1);/**/}
a.redesIcon#youtubeF:hover{background:rgba(245, 11, 11,1);border-color:rgba(245, 11, 11,1);/**/}
a.redesIcon#instagramF:hover{background:rgba(210, 45, 120,1);border-color:rgba(210, 45, 120,1);/**/}
a.redesIcon#twitterF:hover{background:rgba(57, 200, 255,1);border-color:rgba(57, 200, 255,1);/**/}
a.redesIcon#facebookF:hover{background:rgba(40, 81, 165,1);border-color:rgba(40, 81, 165,1);/**/}
ul#redesContacto li a.redesIcon i.fab{
	color:#a0a0a0;
	font-size:24px;
}
ul#redesContacto.top-prendasys li a.redesIcon#facebookF{border:3px solid #818181;}
ul#redesContacto.top-prendasys li a.redesIcon#linkedinF{border:3px solid #818181;}
ul#redesContacto.top-prendasys li a.redesIcon#facebookF i.fab{color:#818181;}
ul#redesContacto.top-prendasys li a.redesIcon#linkedinF i.fab{color:#818181;}

ul#redesContacto li a.redesIcon:hover i.fab{
	color:#fff !important;
}
ul#redesContacto.top-prendasys li a.redesIcon#facebookF:hover{border-color:rgba(40, 81, 165,1);}
ul#redesContacto.top-prendasys li a.redesIcon#linkedinF:hover{border-color:rgba(0, 115, 177,1);}
#formulario .send-btn{
  width:100%;
  background:url(../images/form/send-icon.png)-55px 8px no-repeat #ff6600 !important;
  transition: ease .168s;
  -webkit-transition: ease .168s;
  border-radius:0;
}
#formulario .send-btn:hover{
  background-position: 45px 8px !important;
  padding-left: 65px;
}

.aviso-bottom{
	background:url(../images/contact/bisoft-bg.jpg)top center no-repeat;
}

#caracteristicas-block.parallaxParent{
	width:100%;
	display:block;
	padding-top:10px;
	/* height:640px !important; */
	position:relative;
	z-index:1;
	display:block;
	overflow: hidden;
}
#caracteristicas-block .image-parallax {
  height:110%;
  width:100%;
  position: absolute;
  top: 0%;
  background-size: cover !important;
  z-index:0;
  	
}

.w-md-100{width: 100%;}
/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        QUERIES
::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (min-width: 1440px){}
@media screen and (min-width: 1200px){}
@media screen and (max-width: 1200px){
	#conexiones{left:calc(100% - 250px);}
}
@media screen and (max-width: 991px){
	#operadora{display:none;}
	#header-contacto .image-parallax {opacity:0.33;}
	.TitleForm1{font-size: 24px;}
	.TitleForm2{font-size: 16px;}
	.regis-text{font-size: 24px;}

}
@media screen and (max-width: 767px){
	#header-contacto.parallaxParent{padding-top: 20px;/* height: 710px !important; */}
	#conexiones{display:none;}
	.w-md-100{width: auto;}
	.title-contacto-lugar{text-align: center;}
}
@media screen and (max-width: 600px){
	.info-bisoft{text-align: center;}
	.TitleForm1 { font-size: 19px; }
}
@media screen and (max-width: 480px){
	.image-parallax { background-image: none !important;}
}
@media screen and (max-width: 360px){}