/*
==========================================================================
	HOME :: PRENDASYS - KUBIK;
==========================================================================
*/
#home-section{padding:0;position:relative;}

/* reCaptcha styles */

.recaptcha-holder{}
.recaptcha-holder .grecaptcha-badge{bottom:80px !important;}

#home-section{padding:0;position:relative;}
.top-container{
  display:block;
  width:100%;
  height:auto;
  position:relative;
}
#slideshow{
  width:100%;
  height:auto;
  display:block;
  position:relative;
  /*z-index:50;*/
}
#slideshow .item{}
#slideshow .item .slide{
  width:100%;
  height:auto;
}

.owl-prev, .owl-next {
    top:calc(100% - 100px);
}


#caracteristicas-block{
  /*background:#f0f1f0;*/
  display:block;
  width:100%;
  height:auto;
  padding:30px 0;
  max-width:1440px;
  margin:0 auto;
  position:relative;
  background: #f0f1f0;
  /*background: -webkit-linear-gradient(bottom, #fff 0%, #fff 30%, #f0f1f0 30%, #f0f1f0 81%, #fff 81%, #fff 100%);
  background: -o-linear-gradient(bottom, #fff 0%, #fff 30%, #f0f1f0 30%, #f0f1f0 81%, #fff 81%, #fff 100%);
  background: linear-gradient(to top, #fff 0%, #fff 30%, #f0f1f0 30%, #f0f1f0 81%, #fff 81%, #fff 100%);*/
}
.btn-pestana{
  border-radius:0;
  display:block;
  position:absolute;
  bottom:160px;
  right:-10px;
  z-index:2;
}
.btn-pestana:after{
  content:'';
  display:block;
  position:absolute;
  bottom:-11px;
  right:0;
  width:10px;
  height:10px;
  background:url(../images/pestana-btn.png)top center no-repeat;
}

.back-orange{background-color: #ff6600;}
.content{ /*margin-top: 12%;  margin-bottom: 15%; */ }
.content .info1{ font-family:'Exo', sans-serif; font-size: 26px; color: #4b4b4b; text-align: left; padding-right: 4%; padding-left: 4%;}
.content .info2{ font-family: 'Exo', sans-serif; font-size: 26px; color: #4b4b4b; text-align: right; padding-right: 4%; padding-left: 4%; }
.content .info3{ font-family: 'Exo', sans-serif; font-size: 26px; color: #4b4b4b; padding-right: 4%; padding-left: 4%; }
.content .smalletter{ font-family: 'Exo', sans-serif; font-size: 38px; font-weight: 400; color: #4b4b4b; margin-bottom: 20px; padding-right: 4%; padding-left: 4%;}

.btn-info-gray{ width: 160px; background: #676767 !important; border: 1px #676767 !important; float: left; }
.btn-info-orange{ width: 160px; background: #ff6600 !important; border: 1px #ff6600 !important; float: left; }

.btn-info-gray:hover{background: #505050 !important; }
.btn-info-orange:hover{background: #d65600 !important; }

.back-gray{background-color: #676767;}

.box-shadom-right, .box-shadom-left{position:relative;}
.box-shadom-right{
  /* box-shadow: -5px 0 5px -5px #333;
  margin-right: 10%;*/
}
.box-shadom-left{
  /* box-shadow: 5px 0 5px -5px #333;
  margin-left: 10%;*/
}
.box-shadom-left:before{
  content:'';
  display:block;
  width:26px;
  height:100%;
  max-height:490px;
  position:absolute;
  top:-25px;
  right:-26px;
  background:url(../images/home/border-right.png)top center no-repeat;
  background-size:contain;
  opacity:0.66;
}
.box-shadom-right:after{
  content:'';
  display:block;
  width:26px;
  height:100%;
  max-height:490px;
  position:absolute;
  top:-25px;
  left:-26px;
  background:url(../images/home/border-left.png)top center no-repeat;
  background-size:contain;
  opacity:0.66;
}

.ventas-seccion{margin-top: 5%;margin-bottom: 5%;}
.center-ventas{/* width: 300px; */}
.title-tipov{/*color: #ff6600;*/color:#4b4b4b;margin-top: 5px; margin-bottom: 5px;font-size:14px;}
.text-tipov{color: #000000; font-size: 14px; height:auto; margin-bottom: 20px;font-weight:400;line-height:1.618}
.title-ventas{font-size: 24px;}


.title-caracteristicas{color: #000000;}
.line{ background: #ff6600; width: 70px; display: inline-block; height: 5px; position: absolute; }
.caract-div-txt{ /*margin-top: 15%; background: #f1f1f1;padding: 85px 30px;*/padding:30px 20px 20px;}
.caract-div-txt .btn-info-orange {float: none; }

.caract-div-txt .info{ font-family:'Exo', sans-serif; font-size: 25px; color: #ffffff; }

.info .text-tipov{height:auto;font-size:18px;min-height:45px;line-height:normal;}
.info h2.title-tipov{font-size:30px;}
.caract-div-txt .smalletter{ font-family: 'Exo', sans-serif; font-size: 14px; color: #ffdaa1; margin-bottom: 11px; }

.aviso-bottom {

background-image:url(../images/implementaciones-agiles/cta-bg.png);
background-repeat:no-repeat;
background-position:bottom center;
background-color:#ff6600;

/*background-color: rgb(255,148,27);
background: -moz-linear-gradient(180deg, rgba(255,148,27,1) 0%, rgba(255,102,0,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(255,148,27,1) 0%, rgba(255,102,0,1) 100%);
background: linear-gradient(180deg, rgba(255,148,27,1) 0%, rgba(255,102,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff941b",endColorstr="#ff6600",GradientType=1);*/


}
.aviso-bottom a.btn.ghostBtn{width: auto;}




/* MÁS CORRECCIONES */

.half-container {
  padding-right: 15px;
  padding-left: 15px;
  max-width:100%;
}
@media (min-width: 768px) {
  .half-container {width: calc(750px/2);}
}
@media (min-width: 1200px) {
  .half-container {width: calc(1170px/2);}

}
@media (min-width: 768px) {
  .half-container_sm.right-site_container {
    float: left;
    display: inline-block;
  }
  .half-container_sm.left-site_container {
    float: right;
    display: inline-block;
  }
}

/* header parallax */
.parallaxParent{
  height:480px !important;
  position:relative;
  z-index:1;
  display:block;
  overflow: hidden;
}
.parallaxParent .image-parallax {
  height:160%;
  width:100%;
  position: absolute;
  top: -60%;
  background-size: cover !important;
}
/* /header parallax */


/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        QUERIES
::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (min-width: 1440px){
  /*.box-shadom-left:before{min-height:490px;}
  .box-shadom-right:after{min-height:490px;}*/
}

@media screen and (min-width: 767px){
  .b-der{
    position: relative;
    background: #ffffff;
  }
  .b-izq{
    position: relative;
    background: #ffffff;
  }
  .b-der:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 20px;
    margin-top: -20px;
    z-index:9;
  }
  .b-izq:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 20px;
    margin-top: -20px;
    z-index:9;
  }
}

@media screen and (max-width: 1200px){
  	.nosotros-div-txt .info{font-size: 20px;}
  	.content .info1{ padding-right: 22%; padding-left: 8%; font-size: 20px; }
  	.content .info2{ padding-right: 15%; padding-left: 18%; font-size: 20px; }
  	.content .info3{ padding-right: 22%; padding-left: 8%; font-size: 20px; }
	.content .smalletter{padding-right: 15%; padding-left: 8%; font-size: 30px; }

}
@media screen and (max-width: 1080px){
  	.content .smalletter{font-size: 22px;}
  	.content .info1{font-size: 16px;}
  	.content .info2{font-size: 16px;}
  	.content .info3{font-size: 16px;}
}
@media screen and (max-width: 991px){
  .content .info { font-size: 24px; }
  .btn-info-gray{font-size: 14px;}
  .btn-info-orange{font-size: 14px;}
  .content{padding: 35px 30px;}
  .text-tipov {height: auto;}
  /*#caracteristicas-block{
    background: #f0f1f0;
    background: -webkit-linear-gradient(bottom, #fff 0%, #fff 20%, #f0f1f0 20%, #f0f1f0 95%, #fff 95%, #fff 100%);
    background: -o-linear-gradient(bottom, #fff 0%, #fff 20%, #f0f1f0 20%, #f0f1f0 95%, #fff 95%, #fff 100%);
    background: linear-gradient(to top, #fff 0%, #fff 20%, #f0f1f0 20%, #f0f1f0 95%, #fff 95%, #fff 100%);
  }*/
  .parallaxParent{height:410px !important;}
  	.content .smalletter{padding-right: 8%; padding-left: 5%;}
  	.content .info1{padding-right: 10%; padding-left: 5%;}
  	.content .info2{padding-right: 10%; padding-left: 10%;}
  	.content .info3{padding-right: 10%; padding-left: 5%;}
}
@media screen and (max-width: 880px){
  .content .info { font-size: 21px; }
}
@media screen and (max-width: 767px){
	.bloque{justify-content: center; display: flex;}
	  .content{margin-top: 0%; display: inline-block; padding: 50px 20px; width: 100%; max-width: 500px;}
	  .conmed{width: 100%; display: flex; justify-content: center; padding: 20px;}
	  .box-shadom-right{margin-right: 0px;}
	  .content .info { font-size: 2rem; }
	  .box-shadom-left{margin-left: 0px;}
	  .parallaxParent{height:360px !important;}
  	.content .smalletter{font-size: 28px;}
  	.content .info1{font-size: 20px;}
  	.content .info2{font-size: 21px; padding-left: 0;}
  	.content .info3{font-size: 20px;}
}
@media screen and (max-width: 600px){
  .content{width: 100%;max-width: 100% !important;flex: 100%;}
  	.content .smalletter{text-align: center; font-size: 24px;}
  	.content .info1{text-align: center;font-size: 18px;padding: 0px;}
  	.content .info2{text-align: center;font-size: 18px;padding: 0px;}
  	.content .info3{text-align: center;font-size: 18px;padding: 0px;}
}

@media screen and (max-width: 480px){
  .content .info { font-size: 1.6180rem;}
  .parallaxParent{height:300px !important;}
}
>>>>>>> 5678002... funciona porfis.. sale gracias bye
@media screen and (max-width: 360px){}