/*
==========================================================================
	PRENDASYS by: KUBIK;
==========================================================================
*/

* {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
section{min-height:800px;padding:0;}

/* HTML5 ✰ Boilerplate ✰ normalize */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 16px; line-height: 1.231; font-weight:300;}
body, button, input, select, textarea { font-family:'Exo', sans-serif; color: #484848; }
::-moz-selection { background: #feda9e; color: #fff; text-shadow: none; }
::selection { background: #feda9e; color: #fff; text-shadow: none; }
a { color: #225472; }
a:visited { color: #488ab2; }
a:hover { color: #225472; }
a:focus { outline: none; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
/*input:invalid, textarea:invalid { background-color: #f0dddd; }*/
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* Text */

h1, h2, h3, h4, h5, h6 {margin: 0;padding: 0;font-family: 'Exo', sans-serif;}
h1 {font-size:30px;font-weight:700;}
h2 {font-size:24px;font-weight:700;}
h3 {font-size:18px;font-weight:700;}
h4 {font-size:17px;font-weight:700;}
h5 {font-size:16px;font-weight:700;}
h4 {font-size:14px;font-weight:700;}
a:hover {color: #225472;}
a, a:hover, a:visited {text-decoration: none;}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        LAYOUT
::::::::::::::::::::::::::::::::::::::::::::::::::
*/
section{overflow:hidden;}

/* NAVBAR */

.navbarHeight{height:100px;}
#topNav{
	width:100%;
	top:0;
	left:0;
}
#topNav .container{
	position: relative;
    display: block;
    height: 100px;
}
nav.navbar{
	width:100%;
	height:100px;
	background: #fff !important;
	z-index:999;
	-webkit-box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.16);
	box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.16);
}
nav.navbar:after{
	content:'';
	position:absolute;
	z-index:100;
	display:block;
	width:100%;
	height:10px;
	background:#f2f2f2;
	top:calc(100% - 10px);
	left:0;
}
.navbar-brand{
	top:15px;
	width:230px;
	height:60px;
	position:relative;
	transition: ease .1618s;
	-webkit-transition: ease .1618s;	
}
.navbar-brand img{
	width:100%;
	height:auto;
	top:0;
	left:0;
	transition: ease .1618s;
	-webkit-transition: ease .1618s;
}
.navbar-expand-lg .navbar-collapse {
    width: calc(100% - 320px);
    float: right;
    height: 100px;
}
.mainMenuBtn {
	position: relative;
	text-decoration: none;
	color: #535353;
	font-size:18px;
	font-weight:400;
	padding:24px 10px 0;
	top:0px;
	text-align: center;
	text-shadow:none;
	/*text-transform:uppercase;*/
	width:200px;
	height:100px;
	display:block;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	z-index:101 !important;
	background: rgb(0,0,0);
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 75%);
	background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 75%);
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 75%);
	transition: ease .168s;
	-webkit-transition: ease .168s;
	/* visual-correction */
	margin-left:-1px;
}
.mainMenuBtn:after {
	content:'';
	position:absolute;
	left:0;
	bottom:0px;
	width:100%;
	height:0px;
	background:#6a6a6a;
	transition:ease .168s;
	-webkit-transition:ease .168s;
	border:0px;
	margin: 0;
}
.mainMenuBtn:hover {
	background: rgb(0,0,0);
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.06180) 100%);
	background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.06180) 100%);
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.06180) 100%);
}
.mainMenuBtn:hover:after{height: 10px;}
.mainMenuBtn.current{color:initial !important;cursor:default;}
.mainMenuBtn.current:after{
	content: '';
	position: absolute;
	left: 0%;
	bottom: 0;
	width: 100%;
	height: 10px;
	background: #6a6a6a;
}
.mainMenuBtn:visited{color:initial;}
.mainMenuBtn:visited span{color:#535353;}
.mainMenuBtn span{display:block;width:100%;font-weight:600;}
.mainMenuBtn small.tag{
	display: block;
    width: 100%;
    text-transform: none;
    margin-top: 3px;
    font-size:14px;
}
.subMenuBtn{
	position: relative;
	text-decoration: none;
	/*color: #15994f;*/
	/*font-size:15px;*/
	font-weight:400;
	padding:24px 10px 0px;
	/*top:5px;*/
	text-shadow:none;
	/*text-transform:uppercase;*/s
}
.subMenuBtn:hover{
	color:#ea4e19;
}
li.dropdown {
	display:block;
	position:relative;
}
li.dropdown:after {
	content: "";
	position: absolute;
	display:block;
    left: calc(50% - 5px);
    bottom: 20px;    
    height: 10px;
    width: 10px;    
    background: rgba(0,0,0,0);
    border-right: 1px solid #ff6600;
    border-bottom: 1px solid #ff6600;
    transform: rotate(45deg);
}
ul.dropdown-menu{
	position:fixed!important;
	text-align:center;
	width:100%;
	top: 98px;
    border-radius: 0;
    z-index:98;
    /*background: #ff6600;*/
    background:rgb(102 102 102 / 0.95);
    border: 0px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}
ul.dropdown-menu:after{
	content: "";
	position: absolute;
    left:0;
    top:0;    
    height:8px;
    width:100%;    
    background: rgb(0,0,0);
	background: -webkit-linear-gradient(rgba(0,0,0,0.33) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(rgba(0,0,0,0.33) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(rgba(0,0,0,0.33) 0%, rgba(0,0,0,0) 100%);
    display:block;
    z-index:999;
}
.dropdown.show .dropdown-menu {
    max-height: 342px;
    opacity: 1;
}ul.dropdown-menu li{
	display:inline-block;
	width:auto;
}
ul.dropdown-menu li a.dropdown-item {
	color:#fff;
    padding: .65rem 1.5rem;
    background:rgba(0,0,0,0);
    transition: ease .168s;
	-webkit-transition: ease .168s;
	font-weight:600;
}
ul.dropdown-menu li a.dropdown-item:hover {
	color:rgba(255,255,255,1);
	background:rgba(0,0,0,0.16);
}
#btn-to-top{
	width: 60px;
    height: 90px;
    background: #fea301;
    border-radius: 30px 30px 0 0;
    position: fixed;
    bottom: -30px;
    right: 20px;
    text-align: center;
	line-height: 60px;
	z-index:99;
	transition: ease .168s;
	-webkit-transition: ease .168s;
}
#btn-to-top i.fas.fa-chevron-up{
	color: #fff;
	font-size:30px;
}
#btn-to-top:hover{
	bottom:-25px;
}
#btn-to-top.off{
	bottom: -90px;
}

/* FOOTER */

footer{
	background:#666;
	height: 360px;
	font-size: 16px;
	color: #d3d3d3;
	position:relative;
}
.footercopy {
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(255,255,255,0.16);
}
.footercopy p.legal {
    margin: 0;
    padding: 20px 0;
    text-align: left;
}
.footercopy p.legal-links {
    margin: 0;
    padding: 20px 0;
    text-align: right;
}
.footercopy p.legal-links a{
	color:#d3d3d3;
	transition: ease .168s;
	-webkit-transition: ease .168s;
}
.footercopy p.legal-links a:hover{color:#fff;}
footer .footer #final-col{
	text-align:right;
	margin-top:20px;
}
footer .footer .col-lg-3.col-md-4{
	text-align:left;
	margin-top:10px;
}
footer .footer #final-col a{
	display:block;
	width:100%;
	margin:10px 0;
	color:#d3d3d3;
}
footer .footer #final-col a:hover{color:#fff;}
footer .footer #final-col a#bisoft-link{
	color:#d3d3d3;
	margin-top:0;
	transition: ease .168s;
	-webkit-transition: ease .168s;
}
footer .footer #final-col a#bisoft-link img{
	opacity:0.6;
	transition: ease .168s;
	-webkit-transition: ease .168s;
}
footer .footer #final-col a#bisoft-link:hover{color:#fff;}
footer .footer #final-col a#bisoft-link:hover img{opacity:1;}
footer .footer #final-col a.phone{
	color:#fea301;
	margin:5px 0;
	font-size:18px;
	font-weight:400;
	transition: ease .168s;
	-webkit-transition: ease .168s;
}
footer .footer #final-col a.phone:hover{color:#ff6600;}
footer .footer #final-col a.phone i{width:30px;height:30px;display:inline-block;margin-right:5px;}
footer .footer #final-col a.phone i img{width:100%;height:auto;}
ul#redesFooter{
	margin:0;
	padding:0;
	list-style:none;
	text-align:right;
	float:right;
	display:block;
	width:100%;
}
ul#redesFooter li{
	display:inline-block;
	margin:5px;
}
ul#redesFooter li a.redesIcon{
	background:#999;
	width:30px;
	height:30px;
	/*border:0px solid #999;*/
	position:relative;
	z-index:2;
	display:block;
	text-align:center;
	line-height:34px;
	border-radius:50%;
	transition: ease .168s;
	-webkit-transition: ease .168s;
}
ul#redesFooter li a.redesIcon:before{
	content:'';
	position:absolute;
	top:-5px;
	left:-5px;
	width:40px;
	height:40px;
	border-radius:50%;
	display:block;
	background: rgb(0,0,0);
	background: -webkit-linear-gradient(rgba(0,0,0,0.16) 0%, rgba(0,0,0,0) 75%);
	background: -o-linear-gradient(rgba(0,0,0,0.16) 0%, rgba(0,0,0,0) 75%);
	background: linear-gradient(rgba(0,0,0,0.16) 0%, rgba(0,0,0,0) 75%);
	z-index:1;
}

a.redesIcon#linkedinF:hover{background:rgba(0, 115, 177,1);/*border-color:rgba(0, 115, 177,1);*/}
a.redesIcon#youtubeF:hover{background:rgba(245, 11, 11,1);/*border-color:rgba(245, 11, 11,1);*/}
a.redesIcon#instagramF:hover{background:rgba(210, 45, 120,1);/*border-color:rgba(210, 45, 120,1);*/}
a.redesIcon#twitterF:hover{background:rgba(57, 200, 255,1);/*border-color:rgba(57, 200, 255,1);*/}
a.redesIcon#facebookF:hover{background:rgba(40, 81, 165,1);/*border-color:rgba(40, 81, 165,1);*/}
ul#redesFooter li a.redesIcon i.fab{
	color:#66737f;
	font-size:18px;
}
ul#redesFooter li a.redesIcon:hover i.fab{
	color:#fff;
}

.nav-footer-label{
	font-size:18px;
	font-weight:400;
	color:#fea301;
	margin:10px 0;
}
a.f-link{
	display:block;
	width:100%;
	height:30px;
	padding-left:5px;
	transition: ease .168s;
	-webkit-transition: ease .168s;
	background:url(../images/bullet-footer.png)-10px 6px no-repeat;
	line-height:30px;
	color:#fff;
}
a.f-link:hover{
	padding-left:15px;
	color:#d3d3d3;
	background-position: 0px 6px;
}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        COMMON CLASSES
::::::::::::::::::::::::::::::::::::::::::::::::::
*/
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.btn{
	color:#fff;
	background:#ff6600;
	text-align:center;
	padding:10px 15px;
	border-radius:0px;
	/*text-transform:uppercase;*/
	transition: ease .168s;
	-webkit-transition: ease .168s;
}
.btn:hover{background:#da6110;color:#fff;}
.btn.btn-sm{
	padding:3px 6px;
	border-radius:0px;
}
.btn.ghostBtn{
	background:rgba(0,0,0,0);
	border:3px solid rgba(255,255,255,0.75);
	color:rgba(255,255,255,1);
	font-weight:400;
	border-radius:0;
	text-transform:none;
}
.btn.ghostBtn:hover{
	background:rgba(0,0,0,0.08);
	color:rgba(255,255,255,1);
}
.btn:visited{color:#fff;}
.btn.ghostBtn:visited{color:#fff;}

.orangeTxt{color:#ff6600;}
.orange-bg{background-color:#ff6600;}
.grey-bg{background-color:#666;}

/* OWL controls */

.owl-prev, .owl-next {
  color:#fff;
    position: absolute;
    top:50%;
    margin-top: -50px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size:60px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
.owl-prev:hover, .owl-next:hover {filter: Alpha(Opacity=100);/*IE7 fix*/opacity: 1;}
.owl-next {right: 0px;}
.owl-controls {text-align: center;z-index:3;}
.owl-controls .owl-page {display: inline-block;}
.owl-controls .owl-page span {
    background-color: #333;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    width: 12px;
    filter: Alpha(Opacity=500);/*IE7 fix*/
    opacity: 0.5;
}
.owl-controls .owl-page.active span, .owl-controls .owl-page:hover span {filter: Alpha(Opacity=100);/*IE7 fix*/opacity: 1;}
.owl-dots{
  width: 100%;
    height: 40px;
    display: block;
    text-align:center;
    padding-top:10px;
    position:relative;
    bottom:0px;
    z-index:52;
    background:rgba(241,241,241,0);
    /*border-top:1px solid #f1f1f1;*/
}
.owl-dots .owl-dot{
  display:inline-block;
  width:16px;
  height:16px;
  border-radius:50%;
  background:rgba(88,88,88,0.3);
  margin:0 5px;
  border:2px solid rgba(255,255,255,0);
  opacity:0.7;
}
.owl-dots .owl-dot:hover{background:rgba(88,88,88,0.8);}
.owl-dots .owl-dot.active{opacity:1;background:rgba(88,88,88,0.8);cursor:default;}

.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.delay450{-moz-transition-delay:450ms;-webkit-transition-delay:450ms;}
.delay900{-moz-transition-delay:900ms;-webkit-transition-delay:900ms;}

.base-whatsapp{
	/*background:#fff;*/
	display:block;
	position:fixed;
	right:0;
	/*top:140px;*/
	top:calc(50% - 75px);
	width:72px;
	height:150px;
	z-index:999;
	background:url(../images/base-whatsapp.png)top center no-repeat;
}
#whatsapp-btn{
	display:block;
	position:absolute;
	top:51px;
	left:14px;
	width:50px;
	height:50px;
	border-radius:50%;
	background:url(../images/btn-whatsapp.png);
	background-size:100%;
}
.specialbase-whatsapp{
	position:fixed;
	left:calc(50% - 75px);
	top:calc(100% - 72px);
	width:150px;
	height:72px;
	z-index:999;
	background:url(../images/base-whatsapp-alt.png)top center no-repeat;
	display:none;
}
.specialbase-whatsapp #whatsapp-btn2{
	display:block;
	position:absolute;
	top:15px;
	left:50px;
	width:50px;
	height:50px;
	border-radius:50%;
	background:url(../images/btn-whatsapp.png);
	background-size:100%;
}
.pulsar {
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(21,153,79, 0.4);
  animation: pulsation 2s infinite;
}
.pulsar:hover {
  animation: none;
}






@-webkit-keyframes pulsation {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(21,153,79, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(21,153,79, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(21,153,79, 0);
  }
}
@keyframes pulsation {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(21,153,79, 0.4);
    box-shadow: 0 0 0 0 rgba(21,153,79, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(21,153,79, 0);
      box-shadow: 0 0 0 10px rgba(21,153,79, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(21,153,79, 0);
      box-shadow: 0 0 0 0 rgba(21,153,79, 0);
  }
}
.aviso-bottom{}
.aviso-bottom h4{font-size:24px;font-weight:lighter;}
.aviso-bottom a.btn.ghostBtn{width:180px;}

/* FIRMA KBI */

.firmaKBI {
    width: 40px;
    height: 20px;
    display: block;
    background: url(../images/firma.png)no-repeat;
    position: relative;
    top: inherit;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
}

.firmaKBI:hover {
    width: 95px;
}

/* Cookies Alert */

#alert{  
  display:block;
  position:absolute;
  bottom:0;
  z-index:98;
  width:100%;
  border-radius:0;
  border:0;
  text-align:center;
  margin:0;
  /*background:rgba(0,0,0,0.75);*/
  background:#e1ebee;
  color:#535353;
  text-shadow:none;
  padding: .75rem 6rem;
}
#alert.show{/*position:relative;*/}
#alert .close {padding: .6rem;}
/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        QUERIES
::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (min-width: 1440px){}
@media screen and (max-width: 1200px){
	.navbar-expand-lg .navbar-collapse {width: calc(100% - 250px);}
	.mainMenuBtn {width: 170px;font-size:15px;}
	.mainMenuBtn small.tag {font-size: 12px;}
}
@media screen and (min-width: 991px){
	.off-sm{display:initial;}
	.on-sm{display:none;}
}
@media screen and (max-width: 991px){	
	.off-sm{display:none;}
	.on-sm{display:block;}	
	footer {height: auto;padding-bottom:130px;}	
	.footercopy p.legal{margin:0 0 10px;text-align:center;padding: 20px 0 0;}
	.footercopy p.legal-links{margin:0 0 20px;text-align:center;padding:0;}
	/* NAVBAR */
	.navbar-brand{z-index:999;top:16px;position:absolute;left:calc(50% - 115px);z-index:100;}
	#topNav {width: 100%;height: auto;min-height: 100px;}
	.navbar-nav {margin: 75px auto 0;}
	#topNav .container{width:100%;max-width:100%;padding:0;position: initial;height: initial;}
	.navbar-expand-lg .navbar-collapse {width:100%;float: none;height: auto;}
	.navbar-toggler {
		position: absolute;
		z-index:999;
		top: 15px;
		left: 15px;
		right: 0;
		bottom: 0;
		margin: 0;
		background:#ff6701;
		width: 60px;
		height: 60px;
		cursor: pointer;
		border:0px;
		border-radius:50%;
		padding-top:13px;
	}
	.navbar-toggler:focus, .navbar-toggler.focus {
	  outline:0;
	  box-shadow:0 0 0 0 rgba(0,0,0,0);
	}
	.hamburger-menu,
	.hamburger-menu:after,
	.hamburger-menu:before {
		width: 35px;
		height: 3px;
	}
	.hamburger-menu {
		position: relative;
		transform: translateY(-3px);
		background: white;
		transition: all 0ms 300ms;
	}
	.hamburger-menu.animate {
		background: rgba(255, 255, 255, 0);
	}
	.hamburger-menu:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 8px;
		background: white;
		transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.hamburger-menu:after {
		content: "";
		position: absolute;
		left: 0;
		top: 8px;
		background: white;
		transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.hamburger-menu.animate:after {
		top: 0;
		transform: rotate(45deg);
		transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.hamburger-menu.animate:before {
		bottom: 0;
		transform: rotate(-45deg);
		transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.mainMenuBtn{border-right:0px;border-left:0px;}
	.mainMenuBtn, .subMenuBtn{
		display:block;
		width:100%;
		height:55px;
		padding:0;
		text-align:center;
		line-height:55px;
		font-size:15px;
	}
	.mainMenuBtn small.tag {display:none;}
	li.dropdown:after {/*display:none;*/}
	ul.dropdown-menu{position:relative!important;top: 0px;}
	ul.dropdown-menu:after{background: rgba(0,0,0,0);}
	ul.dropdown-menu li{display:block;width:100%;}
}
@media screen and (max-width: 767px){	
	footer ul#redesFooter{float:none;text-align:center;}
	footer .footer #final-col {text-align:center;margin-top:30px;}
}
@media screen and (max-width: 600px){
	#alert{padding: 15px 15px;}
}
@media screen and (max-width: 480px){
	#btn-to-top {right: 5px;}
	.navbar-brand {left:initial;right:15px;}
}
@media screen and (max-width: 360px){}