/*
==========================================================================
	¿POR QUÉ PRENDASYS? :: PRENDASYS - KUBIK;
==========================================================================
*/
#porque-prendasys-section{padding:0;position:relative;}

#header{
  position:relative;
  display:block;
}
/*#header .header-info{
  width:500px;
  position:relative;
  top:45px;
  display:block;
  margin:0 auto;
  text-align:center;
}
#header .header-info h2{
  font-size:24px;
  font-weight:400; 
  color:#fff;
}
#header .header-info .ghostBtn{
  color:#fff;
  border-color:#fff;
  margin-top:15px;
  font-weight:600;
}*/
#header a#header-bg{
  display:block;
  position:relative;
  width:100%;
  height:auto;
  background:url(../images/porque-prendasys/header.jpg)top center no-repeat;
}
#header a#header-bg img.header-element{
  width:100%;
  height:auto;
  position:absolute;
  left:0;
  top:0;
}

h3.main-title {font-size:44px;font-weight:400;}
h3.second-title {font-size:24px;font-weight:400;}

#beneficios{
  padding-top:60px;
}
#beneficios-container{
  background:url(../images/porque-prendasys/beneficios-bg.jpg)top center no-repeat;
  min-height:5597px;
}
#beneficios-container .container{padding-top:103px;}
#beneficios-container .container .concepto{
  height:360px;
  margin:24px 0;
}
#beneficios-container .container .concepto .row{
  height:100%;
}
.concepto .row p.texto{
  font-size:28px;
  color:#4b4b4b;
  max-width:360px;
}
.concepto .row.flex-row-reverse p.texto{
  text-align:right;
  float:right;
}
.orange-txt{color:#ff6600;}
.icon-vessel{
  position:relative;
  width:268px;
  height:300px;
  display:block;
  margin:0 auto;
}

/*
.animate-left{
  opacity: 0;
  position:absolute;
  right:45px;
  -webkit-transition: all 0.33s ease-in-out;
     -moz-transition: all 0.33s ease-in-out;
      -ms-transition: all 0.33s ease-in-out;
       -o-transition: all 0.33s ease-in-out;
          transition: all 0.33s ease-in-out;
}*/
.animate-left {/*.visible*/
  right:0;
  opacity: 1;
}
/*.animate-right{
  opacity: 0;
  position:absolute;
  left:45px;
  -webkit-transition: all 0.33s ease-in-out;
     -moz-transition: all 0.33s ease-in-out;
      -ms-transition: all 0.33s ease-in-out;
       -o-transition: all 0.33s ease-in-out;
          transition: all 0.33s ease-in-out;
}*/
.animate-right{/*.visible */
  left:0;
  opacity: 1;
}
/*.texto-right {
  opacity: 0;
  margin-left:45px;
  -webkit-transition: all 0.66s ease-in-out;
     -moz-transition: all 0.66s ease-in-out;
      -ms-transition: all 0.66s ease-in-out;
       -o-transition: all 0.66s ease-in-out;
          transition: all 0.66s ease-in-out;
}*/
.texto-right{/*.visible */
  margin-left:0;
  opacity: 1;
}
/*.texto-left {
  opacity: 0;
  margin-right:45px;
  -webkit-transition: all 0.66s ease-in-out;
     -moz-transition: all 0.66s ease-in-out;
      -ms-transition: all 0.66s ease-in-out;
       -o-transition: all 0.66s ease-in-out;
          transition: all 0.66s ease-in-out;
}*/
.texto-left{/*.visible */
  margin-right:0;
  opacity: 1;
}

.aviso-bottom{background-image:url(../images/porque-prendasys/bg-cta-btn.png);background-position:top center;background-repeat:no-repeat;}
.aviso-bottom h4{color:#4b4b4b !important;}
.aviso-bottom a.btn.ghostBtn {width: 300px;border-color:#ff6600;color:#ff6600;}
.pale-peach-bg{background-color:#f5efea;}

/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        QUERIES
::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (min-width: 1440px){}
@media screen and (min-width: 1200px){}
@media screen and (max-width: 1200px){}
@media screen and (max-width: 991px){
  .icon-vessel{width:100%;}
  .animate-left{position:relative;}
  .animate-right{position:relative;}
}
@media screen and (max-width: 880px){}
@media screen and (max-width: 767px){
  #beneficios-container{background-image:none;min-height:initial;height: auto;}
  .concepto{height:auto !important;margin:20px 0;}
  .concepto .row p.texto{max-width:initial;text-align:center !important;width:100%;float:none !important;font-size:1.5rem;}
}
@media screen and (max-width: 600px){}
@media screen and (max-width: 480px){}
@media screen and (max-width: 360px){}