/*
==========================================================================
	PREGUNTAS FRECUENTES :: PRENDASYS - KUBIK;
==========================================================================
*/
#preguntas-frecuentes-section{padding:0;position:relative;}
#header-buscador.parallaxParent{
	width:100%;
	display:block;
	padding-top:100px;
	height:480px !important;
	position:relative;
	z-index:1;
	display:block;
	overflow: hidden;
}
#header-buscador .image-parallax {
  height:150%;
  width:100%;
  position: absolute;
  top: -100%;
  background-size: cover !important;
  z-index:1;
}
#header-buscador .container{
	position:relative;
	display:block;
	z-index:2;
}

#header-buscador h3.titulo{font-size:30px;font-weight:400;}
#header-buscador h4.tag{font-size:21px;font-weight:400;}

#buscador-field{
	position:relative;
	/*z-index:2;*/
}
#buscador-field:before{
	content:'';
	position:absolute;
	display:block;
	z-index:1;
	width:calc(100% + 12px);
	height:calc(100% + 12px);
	top:-6px;
	left:-6px;
	border-radius:0.6rem;
	background: rgb(0,0,0);
	background: -webkit-linear-gradient(rgba(0,0,0,0.23) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(rgba(0,0,0,0.23) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(rgba(0,0,0,0.23) 0%, rgba(0,0,0,0) 100%);
	pointer-events:none;
}
#buscador-field input, #buscador-field a{border:0;position:relative;z-index:2;}
#buscador-field a{
	border-radius:0 0.25rem 0.25rem 0;
	text-transform:initial;
	padding:13px 40px;
  width:145px;
	font-size:21px;
	background: rgb(255,157,2);
	background: -webkit-linear-gradient(rgba(255,157,2,1) 0%, rgba(255,102,0,1) 100%);
	background: -o-linear-gradient(rgba(255,157,2,1) 0%, rgba(255,102,0,1) 100%);
	background: linear-gradient(rgba(255,157,2,1) 0%, rgba(255,102,0,1) 100%);
}
#buscador-field a:hover{
	/*position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius:0 0.25rem 0.25rem 0;
	opacity: 0;*/
	background: rgb(228,140,0);
	background: -webkit-linear-gradient(rgba(228,140,0,1) 0%, rgba(255,102,0,1) 33%, rgba(170,68,0,1) 100%);
	background: -o-linear-gradient(rgba(228,140,0,1) 0%, rgba(255,102,0,1) 33%, rgba(170,68,0,1) 100%);
	background: linear-gradient(rgba(228,140,0,1) 0%, rgba(255,102,0,1) 33%, rgba(170,68,0,1) 100%);
	/*-webkit-transition: opacity 0.336s linear;
	-moz-transition: opacity 0.336s linear;
	-o-transition: opacity 0.336s linear;
	transition: opacity 0.336s linear;*/
}
/*#buscador-field a:hover span.btn-hover{opacity:1;}*/


#categorias{
	position:relative;
	margin:0;
	top:0;
	display:block;
}
.gris-bg{background:#f5f5f5;}

.nav.nav-pills{}
.nav.nav-pills li.nav-item{
	width: calc(25% - 20px);
	margin:0 10px;
}
.nav.nav-pills li.nav-item a.nav-link{
	text-align:center;
	display:block;
	position:relative;
	height:auto;
	/*line-height:76px;*/
	overflow:hidden;
	text-align:center;
	padding:25px 0px;
	cursor:pointer;
	border:3px solid rgba(255,102,0,0.5);
	margin:5px 0;
	transition:ease .168s;
  	-webkit-transition:ease .168s;
  	font-size:16px;
  	font-weight:600;
}
.nav.nav-pills li.nav-item a.nav-link:hover{
	color: #fff;
    background-color: #ff6600;
    border:3px solid rgba(255,102,0,1);
    padding-left:76px;
}
.nav.nav-pills li.nav-item a.nav-link i.icon{
	width:60px;
	height:60px;
	position:absolute;
	left:-60px;
	top:5px;
	transition:ease .168s;
  	-webkit-transition:ease .168s;
}
.nav.nav-pills li.nav-item a.nav-link:hover i.icon{left:8px;}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ff6600;
    border:3px solid rgba(255,102,0,1);
    padding-left:76px;
}

.title-orange{
  width:calc(100% + 30px);
  height:auto;
  position:relative;
  z-index:3;
  left:-15px;
  margin-top:60px;
}
.title-orange:before{
  content:'';
  display:block;
  position:absolute;
  width:15px;
  height:163px;
  background:url(../images/title-ini.png)top center no-repeat;
  top:0;
  left:-15px;
}
.title-orange:after{
  content:'';
  display:block;
  position:absolute;
  width:15px;
  height:163px;
  background:url(../images/title-end.png)top center no-repeat;
  top:0;
  right:-15px;
}
.title-orange h2{
  display:block;
  width:100%;
  height:88px;
  line-height:88px;
  padding:0 90px;
  margin:0 0 45px;
  background:#ff6600;
  color:#fff;
  font-size:30px;
  font-weight:700;
  text-align:center;
}

/* FAQS (accordion) */

.panel-default > .panel-heading {
    background-image:-webkit-linear-gradient(top,#ffffff 0,#f7f7f7 100%);
    background-image:-o-linear-gradient(top,#ffffff 0,#f7f7f7 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#f7f7f7));
    background-image:linear-gradient(to bottom,#ffffff 0,#f7f7f7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff7f7f7', GradientType=0);
    background-repeat:repeat-x;
    border:1px solid #e5e5e5;
    border-radius:6px;
    margin-bottom:10px;
}
.panel-heading {
    padding: 0;
    height: 60px;
    display:block;
}
h4.panel-title {
    margin:0;
    font-size:18px;
    font-weight:lighter;
    color:#003563;
    display:block;
    width:100%;
    height:60px;
}
.panel-title > a {
    width:100%;
    height:60px;
    line-height:60px;
    padding:0 20px;
    display:block;
    cursor:pointer;
    overflow:hidden;
    color:#4b4b4b !important;
}
.panel-title > a:hover{
	text-decoration:none;
}
.panel-title > a i.fa{
	line-height:60px;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.panel-title > a i.fa.fa-caret-right{color:#b0b0b0;}
.panel-title > a i.fa.fa-caret-down{color:#ff6600;}
.response-par{font-weight:lighter;}
.padding{padding:30px;}



/*
#main-field {position:relative;}
#main-field:before {
    content: "\25AE";
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
    top:0;
 }
*/


/* Common classes */

.btt-round{
  width:45px;
  height:45px;
  text-align:center;
  line-height:45px;
  display:block;
  background:#dadada;
  color:#fff;
  border-radius:50%;
  margin:0 auto;
  font-size:26px;
}

.aviso-bottom {
    background:url(../images/preguntas-frecuentes/bg-cta.png)top center no-repeat #666;
    color: white;
}
.aviso-bottom a.btn.ghostBtn {
    width: 200px;
}


/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        QUERIES
::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (min-width: 1440px){}
@media screen and (min-width: 1200px){}
@media screen and (max-width: 1200px){}
@media screen and (max-width: 991px){
	.panel-default > .panel-heading {}
	.panel-heading {padding: 0;height: auto;}
	h4.panel-title {height:auto;}
	.panel-title > a {height:auto;padding:15px 20px 0;line-height:initial;}
	.nav.nav-pills li.nav-item{width: calc(33.33% - 20px);}
}
@media screen and (max-width: 767px){
	.nav.nav-pills li.nav-item{width: calc(50% - 20px);}
}
@media screen and (max-width: 480px){

  .awesomplete {width: 100% !important;}  
.buscarw {width: 100% !important;border-radius:0.25rem !important;margin-top:5px;}  

	.nav.nav-pills li.nav-item{width: calc(100% - 20px);}
}
@media screen and (max-width: 360px){}