/*
==========================================================================
	REQUERIMIENTOS TÉCNICOS :: PRENDASYS - KUBIK;
==========================================================================
*/
#requerimientos-tecnicos-section{padding:0;position:relative;}

#header{
  position:relative;
  display:block;
}
#header a#header-bg{
  display:block;
  position:relative;
  width:100%;
  height:auto;
  /*background:url(../images/requerimientos-tecnicos/header.jpg)top center no-repeat;*/
}
#header a#header-bg img.header-element{
  position:absolute;
  right:0px;
  top:0px
  width:100%;
  height:auto;

}


#equipos{
  background:#eeede8;
  display:block;
  padding:20px 0 0;
}
#equipos #panel-rounded{
  border-radius:9px 9px 0 0;
  background:#fff;
  display:block;
  position:relative;
  padding:20px 0px 40px;
}
#equipos #panel-rounded:after{
  content:'';
  display:block;
  position:absolute;
  width:19px;
  height:19px;
  background:url(../images/requerimientos-tecnicos/border-right.png)top center no-repeat;
  bottom:0;
  right:-19px;
  z-index:99;
}
#equipos #panel-rounded:before{
  content:'';
  display:block;
  position:absolute;
  width:19px;
  height:19px;
  background:url(../images/requerimientos-tecnicos/border-left.png)top center no-repeat;
  bottom:0;
  left:-19px;
  z-index:99;
}
.aviso-bottom{background:url(../images/requerimientos-tecnicos/pattern-cta.png) center no-repeat #666;}
#accordion{margin-top:30px;}
.panel-default > .panel-heading {
    background:#ff7700;
    border:0px;
    border-radius:0px;
    margin-bottom:10px;

}
.panel-heading {
    padding:0;
    height: 80px;
    display:block;
    position:relative;
}
.panel-heading:before{
  content:'';
  display:block;
  position:absolute;
  width:15px;
  height:92px;
  background:url(../images/requerimientos-tecnicos/pestana-left.png)top center no-repeat;
  top:0;
  left:-15px;
}
.panel-heading:after{
  content:'';
  display:block;
  position:absolute;
  width:15px;
  height:92px;
  background:url(../images/requerimientos-tecnicos/pestana-right.png)top center no-repeat;
  top:0;
  right:-15px;
}

h4.panel-title {
    margin:0;
    font-size:18px;
    font-weight:600;
    color:#fff;
    display:block;
    width:100%;
    height:80px;
}
.panel-title > a {
    width:100%;
    height:80px;
    line-height:80px;
    padding:0 20px;
    display:block;
    cursor:pointer;
    overflow:hidden;
}
.panel-title > a:hover{
  text-decoration:none;
}
.panel-title > a i.fa{
  color:rgba(255,255,255,0.77);
  line-height:80px;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.panel-title > a i.fa.fa-caret-down{
  color:rgba(255,255,255,1);
}
.panel-title > a i.fa.fa-caret-right{
  color:rgba(255,255,255,0.77);
}

.panel #un-equipo .panel-body,
.panel #dos-equipos .panel-body,
.panel #mas-dos-equipos .panel-body{
  padding:25px 30px;
}


/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        QUERIES
::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (min-width: 1440px){}
@media screen and (min-width: 1200px){}
@media screen and (max-width: 1200px){}
@media screen and (max-width: 991px){}
@media screen and (max-width: 880px){}
@media screen and (max-width: 767px){}
@media screen and (max-width: 600px){}
@media screen and (max-width: 480px){}
@media screen and (max-width: 360px){}