.back-blue2 { /*background: #f0f1f0;*/background:url(../images/soporte-conexion-remota/divider.png)bottom center no-repeat;}
.secion-bienvenido {color: #373737; width: 100%; display: inline-block; position: relative; font-weight: 700; font-size: 20px; text-align: center; padding:30px 20px 50px;}
.secion-bienvenido h3{font-weight: 300; width: 100%; display: inline-block; font-size: 30px; line-height: 32px;}
.triangulo { width: 0; height: 0; background: transparent; border-left: 25px solid transparent; border-right: 25px solid transparent; border-top: 25px solid #f0f1f0;  position: absolute; left: 50%;  bottom: -20px;}
.info-team{width: 100%; display: inline-block; position: relative; padding: 0px 0px; /* max-width: 800px; */}
.info-team h1{text-align: center;font-weight: 300;}
.info-team h3{font-weight: 300; width: 100%; font-size: 30px; line-height: 33px; position: relative; margin-bottom: 20px;}
#teamviewer-link{
	text-decoration:underline;
	font-weight:600;
	color:#0071d7;
  -webkit-transition: all 0.66s ease-in-out;
     -moz-transition: all 0.66s ease-in-out;
      -ms-transition: all 0.66s ease-in-out;
       -o-transition: all 0.66s ease-in-out;
          transition: all 0.66s ease-in-out;
}
#teamviewer-link:hover{
	text-decoration:none;
	color:#04448a;
}



@media screen and (max-width: 1200px){
    .secion-bienvenido h3{font-size: 26px;}
    .info-team h3{font-size: 22px;}
}

@media screen and (max-width: 991px){
    .info-team h3 { font-size: 16px; line-height: 28px; }
    .info-team h1{font-size: 24px;}
}

@media screen and (max-width: 767px){
    .info-team h3 { font-size: 16px; line-height: 28px; }
    .info-team h3 br{display: none;}
    .info-team h1{font-size: 20px;}
    .secion-bienvenido h3 { font-size: 18px; }
}

@media screen and (max-width: 600px){
    .info-team h3 { font-size: 18px; line-height: 30px; }
}

@media screen and (max-width: 600px){
    
}
