.tabs {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: table-cell;
  width: 20%;
}
#tab-button li a {
  display: block;
  padding: 1em;
  font-size:x-large;
  background:rgba(0.,0,0,0);
  border: 0px;
  text-align: center;
  color: #000;
  text-decoration: none;
  position:relative;
  font-weight:600;
}

#tab-button li a:after {
  content:'';
  position:absolute;
  left:50%;
  bottom:15px;
  width:0;
  height:2px;
  background:#ccc;
  transition:ease .168s;
  -webkit-transition:ease .168s;
  border:0px;
  margin: 0;
}
#tab-button li a:hover:after{width:50%;left:25%;}


#tab-button li:not(:first-child) a {
  /*border-left: none;*/
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
  background: #fff;
}
#tab-button .is-active a {cursor:default;}
#tab-button .is-active a:after {
  content:'';
  position:absolute;
  left:25%;
  bottom:15px;
  width:50%;
  height:2px;
  background:#ccc;
  border:0px;
  margin: 0;
  display:block;
}
.tab-contents {
  padding: .5em 2em 1em;
  border: 1px solid #fff;
}



/*.tab-button-outer {
  display: none;
}*/
.tab-contents {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}


.btn-info-orange {
    width: 300px;
    background: #ff6600 !important;
    border: 1px #ff6600 !important;
    color: #fff !important;
    font-weight: 400;
    border-radius: 0;
    text-transform: none;
}

.btn-info-blanco {
    width: 300px;
    background: #fff !important;
    border: 3px solid #ff6600 !important;
    color: #ff6600 !important;
    font-weight: 400;
    border-radius: 0;
    text-transform: none;
}

.line-orange{
  background: #ff8e20 !important;
  width: 100%;
  height: 5px;
  display: inline-block;
  position: relative;
}

.cuadro{
  border: 2px solid #797979 !important;
  width: 100px;
    /* border: 2px solid #797979;
    display: grid;
    position: relative;
    width: 100%; */
}
.no{display: inline-block;
    width: 100%;
    padding: 28px  20px;}
.yes{display: inline-block;
    width: 100%;
    padding: 13px 20px;}
.line-black{
    border-bottom: 2px solid #797979;
    width: 100%;
    display: inline-block;
}

.gray-bg {
    background-color: #ececec;
}
.text-gray{color: #4b4b4b;}

.btn-ayuda-gray{
    background: #fff !important;
    border: 3px solid #4b4b4b !important;
    color: #4b4b4b !important;
    font-weight: 400;
    border-radius: 0;
    text-transform: none;
}
.aviso-bottom{
    border-top:1px dashed rgba(0,0,0,0.16);
}
.aviso-bottom a.btn.ghostBtn {
    width: 300px;
}

/* titulos y correcciones leves */

.title-orange{
  width:calc(100% + 30px);
  height:auto;
  position:relative;
  z-index:3;
  left:-15px;
}
.title-orange:before{
  content:'';
  display:block;
  position:absolute;
  width:15px;
  height:163px;
  background:url(../images/title-ini.png)top center no-repeat;
  top:0;
  left:-15px;
}
.title-orange:after{
  content:'';
  display:block;
  position:absolute;
  width:15px;
  height:163px;
  background:url(../images/title-end.png)top center no-repeat;
  top:0;
  right:-15px;
}
.title-orange h2{
  display:block;
  width:100%;
  height:88px;
  line-height:88px;
  padding:0 90px;
  margin:0 0 45px;
  background:#ff6600;
  color:#fff;
  font-size:30px;
  font-weight:700;
  text-align:center;
}

/* Tabla final */

#tabla-arquitectura{}
#tabla-arquitectura .row{
  height:auto;
  min-height:90px;
  border-radius:6px;
  margin:2px 0;
  color:#000;
  text-align:center;
  font-weight:400;
}
/* #tabla-arquitectura .row{
  height:auto;
  min-height:90px;
  border-radius:6px;
  margin:2px 0;
  color:#fff;
  text-align:center;
} */
/* #tabla-arquitectura .row.non{background:#212529;}
#tabla-arquitectura .row.par{background:#2b3138;}
#tabla-arquitectura .row.txt-only{min-height:60px;}
#tabla-arquitectura .row .col-sm-3.concepto{font-weight:600;border-right:1px dotted rgba(255,255,255,0.33);} */

#tabla-arquitectura .row.non{background:#e4e4e4;}
#tabla-arquitectura .row.par{background:#d2d2d2;}
#tabla-arquitectura .row.txt-only{min-height:60px;}
#tabla-arquitectura .row .col-sm-3.concepto{font-weight:600;border-right:1px dotted #4b4b4b;} 

.btt-round{
  width:45px;
  height:45px;
  text-align:center;
  line-height:45px;
  display:block;
  background:#dadada;
  color:#fff;
  border-radius:50%;
  margin:0 auto;
  font-size:26px;
}

.tab-contents .table thead{border-bottom: 0px solid #dee2e6;border-top: 0px solid #dee2e6;}
.tab-contents .table thead th{border-bottom: 0px solid #dee2e6;border-top: 0px solid #dee2e6;}
.tab-contents .table thead tr{border-bottom: 0px solid #dee2e6;border-top: 0px solid #dee2e6;}
.table td, .table th{border-bottom: 0px solid #dee2e6;border-top: 0px solid #dee2e6;}


.tab-contents .data-info{width: 650px;border: 0px;}
.table-backoffice{display: flex;  justify-content: center;}
.table-backoffice .content-info{width: 100%; max-width: 880px;}
/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        QUERIES
::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (min-width: 1440px){}
@media screen and (min-width: 1200px){}
@media screen and (max-width: 1200px){}
@media screen and (max-width: 991px){
  #tabla-arquitectura .row .col-sm-3.concepto{border-right:0px}
  .table-backoffice .content-info{max-width: 100%;}
  .table-backoffice{display: block;}
}
@media screen and (max-width: 767px){}
@media screen and (max-width: 600px){
    .tab-contents .data-info{display: inline-block !important; width: 100%;padding: 0;}
    .tab-contents table tr{display: inline-block!important;}
    .title-stand{display: none;}
}

@media screen and (max-width: 480px){
  .tab-contents{padding: 0px;}
  /* .data-info p{font-size: 12px !important;} */
}

@media screen and (max-width: 576px){
  #tabla-arquitectura .row.non{padding:10px 15px;}
  #tabla-arquitectura .row.par{padding:10px 15px;}
}
@media screen and (max-width: 480px){}

@media screen and (max-width: 360px){}
