/*
==========================================================================
	WEBINARS :: PRENDASYS - KUBIK;
==========================================================================
*/
#webinars-section{padding:0;position:relative;}


.parallaxParent{
  height:528px !important;
  position:relative;
  z-index:1;
  display:block;
  overflow: hidden;
}
.parallaxParent .image-parallax {
  height:160%;
  width:100%;
  position: absolute;
  top: -60%;
  background-size: cover !important;
  z-index:1;
}.parallaxParent .image-parallax img{
  position:absolute;
  top: 0;
  left:calc(50% - 960px);
}

/* Banner1 */

.parallaxParent .textbanner1{
  z-index:2;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.parallaxParent .textbanner1 .container{
  height:100%;
}
.parallaxParent .textbanner1 .container .row{
  height:100%;
}

/* Banner2 */

.parallaxParent .textbanner2{
  z-index:2;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-align:right;
}
.parallaxParent .textbanner2 .container{
  height:100%;
}
.parallaxParent .textbanner2 .container .row{
  height:100%;
}

.texto{}
.texto p{
  color:#4b4b4b;
  display:block;
  font-size:30px;
  font-weight:400;
}
.texto .btn.ghostBtn{
  color:#ff6600;
  border-color:#ff6600;
}
.aviso-bottom {
  background-color: rgb(255,148,27);
  background: -moz-linear-gradient(180deg, rgba(255,148,27,1) 0%, rgba(255,102,0,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,148,27,1) 0%, rgba(255,102,0,1) 100%);
  background: linear-gradient(180deg, rgba(255,148,27,1) 0%, rgba(255,102,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff941b",endColorstr="#ff6600",GradientType=1);
}
.aviso-bottom a.btn.ghostBtn{width: auto;}
.half-container {
  padding-right: 15px;
  padding-left: 15px;
  max-width:100%;
}
@media (min-width: 768px) {
  /*.half-container {width: calc(750px/2);}*/
  .half-container {width:100%;}
}
@media (min-width: 1200px) {
  .half-container {width: calc(1170px/2);}

}
@media (min-width: 768px) {
  .half-container_sm.right-site_container {
    float: left;
    display: inline-block;
  }
  .half-container_sm.left-site_container {
    float: right;
    display: inline-block;
  }
}


/* 
::::::::::::::::::::::::::::::::::::::::::::::::::
        QUERIES
::::::::::::::::::::::::::::::::::::::::::::::::::
*/
@media screen and (min-width: 1440px){
  .texto p{font-size:28px;}
}
@media screen and (max-width: 1200px){
  .texto p{font-size:24px;}
}
@media screen and (max-width: 1080px){
  .texto p{font-size:21px;}
}
@media screen and (max-width: 991px){
  .parallaxParent{height:auto !important;padding-top:45px;}
  .parallaxParent .textbanner1, .parallaxParent .textbanner2{width:100%;height:60%;text-align:center;}
}
@media screen and (max-width: 880px){}
@media screen and (max-width: 767px){}
@media screen and (max-width: 640px){
  .parallaxParent .textbanner1, .parallaxParent .textbanner2{position:relative;height:auto;}
}
@media screen and (max-width: 480px){}
@media screen and (max-width: 360px){}