@charset "utf-8";

/***** Body *****/
body {	 margin:0px auto;text-align:center; font-family:  Arial, Lucida Grande, Verdana,Bitstream Vera Sans, sans-serif;}
body { 	font-size:11px;	height:auto}
body { 	background:#000 url(../images/fondogeneralbolas.jpg)   center top; margin:0; color:#fff; }
* 	 { 	font-family: arial }
body,html{width:100%; padding:0; font-family: 'Lato', sans-serif;}

/***** Contenedores *****/
#contenidos			{	display:inline-block; float:left; height:auto; margin:0 auto 10px; min-height:400px; overflow:hidden; padding:0; position:relative; width:100%; min-width:300px;	}
#cont_pag 		  	{ 	background:none; clear:none; display:inline-block; margin:0 auto; text-align:center; width:100%;	}
#central 		  	{ 	display:block; min-height:450px; width:20000em; position:relative; padding:8px 0px	}
#cont_pag a 	  	{ 	color:#333; text-decoration:none; cursor:pointer;}
#cont_pag a:hover 	{ 	color:#D21D12; text-decoration:none; } 
#ajustaalto			{	clear:both}
.SINAJAX			{	width:960px !important; left:0 !important;}

/***** Header *****/
#header 			{ 	background:transparent url(../images/header.jpg) no-repeat center top; display:inline-block; font-weight:bold; height:118px; margin:10px auto 0; padding:0 25px 0 0; text-align:right; width:935px;}
#header #backtoblog { 	display:inline; margin:0 0 0 10px; font-size:10px;font-weight:bold;height:24px;line-height:22px;text-decoration:none; width:auto;}
#backtoblog a:hover{color:#fff !important;}
#header h1,
#header .titulo_seccion	{ 	color:#fff; display:inline-block;height:auto;margin:0px;padding:0px;width:700px; }
#header .titulo_seccion	{	font-size:24px; font-weight:bold; }
#header .seccion 	{	margin:2px 10px 0 ;display:inline-block;font-size:12px;font-weight:bold;text-align:right;text-transform:uppercase;width:auto; }
#header a 			{	display:inline-block; font-size:11px; }

/***** Footer *****/
#footer 		{ 	clear:left; color:#CCCCCC; font-size:10px; height:auto;margin:20px auto 0;padding:8px 0 0;text-align:right;width:100%;}
#footer p		{ 	margin:15px 0px;}
#footer	#kubik	{	display:inline-block; width:140px; height:30px; 	}

/***** Menú *****/
#menu 							{	display:block; height:35px; list-style:none outside none; margin:0; padding:0; text-align:left; width:auto;}
#menu ul.menu 					{	display:inline-block; list-style:none outside none; margin:0; padding:0; width:auto;}
#menu ul.menu ul 				{ 	list-style: none;list-style-type:none;margin: 0px;padding:0;width:130px;}
#menu ul.menu li 				{ 	display:inline; float:left; height:auto; list-style:none outside none; margin-right:1px; padding:0; text-align:center;	}
#menu ul.menu a 				{ 	display: block; text-decoration: none; height:auto	}
#menu ul.menu li a 				{	background:url("../images/blue.png") repeat scroll 214px 0 transparent; color:#666666; font-size:12px; font-weight:bold; height:30px; line-height:30px; padding:0; width:134px;	}
#menu ul.menu li a:hover 		{	background-position: 214px 61px; color:#AAA;	}
#menu ul.menu li a.current 		{	background-position: 214px 30px;	}
#menu ul.menu li ul li a 		{ 	background:#444;padding-left:18px;color: #fff;width:115px;font-size:11px}
#menu ul.menu li ul li a:hover 	{ 	background:#666 ;color:#fff;	}
.mini_menu a					{	background-position:81px 0 !important; width:81px !important;}
.mini_menu a:hover				{	background-position:81px 61px !important; }
.mini_menu a.current			{	background-position:81px 30px !important; }
.menu_oculto					{	display:none}
.oculto							{	display:none !important}

/***** Login *****/
#login						{	background:#FFF ;height:auto !important;margin:1em auto;min-height:200px;padding:10px;width:320px;}
#login form 				{	padding: 16px 16px 20px 16px;font-weight: normal; background-color:#09283c}
#login form p 				{	margin:5px 0px; padding:1px 10px;	}
#login #pass,#login #user, #login #id_fanpage	{	font-size: 16px;width: 58%;padding: 3px;margin-top: 2px;margin-right: 6px;margin-bottom: 16px;border: 1px solid #e5e5e5;background: #fbfbfb;}
#login label 				{ 	color:#777777;font-size:13px;	}
.logologin					{ width:height:118px; margin:6px auto; text-align:center; width:100%;}
#login_form h1				{ font-size:18px; text-align:center; width:100%; color:#FFF; margin-bottom:10px; font-weight:bold}
.fuentelogin				{ text-align:right; font-size:20px; color:#FFF}
.loginbutton				{ background-image:url(../images/login.png); width:87px; height:25px; border:0; cursor:pointer}


/***** Registros Nuevo/Edicion *****/
.nuevo 						{	background:#FFF; float:left; margin:0 10px; text-align:left; width:940px;	}
.nuevo dl 					{ 	clear:both; margin:0px; display:inline-block; width:438px}
.nuevo .panel2 dl 			{ 	clear:both; margin:0px; display:inline-block; width:900px}
.nuevo dt 					{ 	float:left; line-height:15px; margin:3px 10px 10px 0; text-align:right; width:118px;}
.nuevo dd 					{ 	float:left; height:auto; line-height:20px; margin:3px 0; width:auto;}
.nuevo p 					{ 	width:auto; text-align:left; height:auto; margin:2px 0;}
.nuevo fieldset 			{  	-moz-border-radius: 15px;-khtml-border-radius: 15px;-webkit-border-radius: 15px;border-radius: 15px;	 border: 1px solid #D3D3D3 !important; background:none repeat scroll 0 0 #F8F8F8; display:block; margin:10px 4px; overflow:hidden; padding:10px 10px 18px; vertical-align:top; width:438px; zoom : 1; }
.nuevo label.opt 			{	font-weight:normal;	}
.nuevo .titulo 				{	color:#D21D12; font-size:14px; font-weight:bold; height:25px; text-align:left; position: relative	}
.nuevo .label 				{ 	display:block;float:left;width:80px; }
.nuevo p.guarda				{	display:block; margin:0 auto !important; padding:10px; text-align:center; width:180px; height:50px;	}

.nuevo .banner_adm 			{ 	display:block;margin:0 auto 15px;overflow:auto;text-align:center;width:630px; }
.nuevo .banner_adm p 		{ 	text-align:center ; width:100%;}
.nuevo .img_con 			{ 	margin:5px; text-align:center}
.nuevo .editor 				{ 	padding:0px 25px;}
.nuevo .mceFirst a 			{ 	color:#222222;  }
.nuevo #iconos dl dt 		{ 	margin-left:30px;text-align:left;width:290px; }
.nuevo .panel				{	display:inline-block; float:left; height:auto; width:470px;	}
.nuevo .panel2				{	display:inline-block; float:left; height:auto; width:940px;	}
.nuevo .panel2 fieldset 	{  	-moz-border-radius: 15px;-khtml-border-radius: 15px;-webkit-border-radius: 15px;border-radius: 15px;	 border: 1px solid #D3D3D3 !important; background:none repeat scroll 0 0 #F8F8F8; display:block; margin:10px 4px; overflow:hidden; padding:10px 10px 18px; vertical-align:top; width:910px; zoom : 1; }

.nuevo .panel2	.galerias	{	width: 910px;	}
.nuevo .panel2	.galerias dl{	width: 908px;	}
.nuevo input[type=text],
.nuevo textarea,
.nuevo select 				{	background:#FFFFFF; border:1px solid #AAAAAA; color:#000000; padding:2px; width:304px;	}
.nuevo textarea				{	height:145px;}
.nuevo #video_fileUploader,
.nuevo #imagen_not2Uploader,
.nuevo #file_uploadUploader {	height:40px; width:125px;	}
.archivos					{	cursor:pointer; text-decoration:none	}
.stddescrip					{	display: inline-block;font-size: 9px;  margin-left: 110px; width: 315px;}

/* Iconos */
.regresar 		{	background: url(../images/iconos/regresar.png) no-repeat 0% 0% !important; height: 32px !important; line-height: 30px !important; text-align: right !important; width: 145px !important; }
.close_session 	{	background: url(../images/cerrarsesion.png) no-repeat; background-position:bottom; height: 32px !important;  line-height: 32px !important; margin: 15px 2px 15px 10px; text-align: left !important; width: 95px !important; padding-left:35px; font-size:13px !important;}
.close_session:hover{color:#fff !important; background-position:center;}
.close_session:active{background-position:top;}
.home 			{	background: url(../images/iconos/home.png) no-repeat 0% 0% !important; height: 32px !important; line-height: 30px !important; text-align: right !important; width: 70px !important;}

#multimedia img 		{ 	border:1px solid #0B3D54	}
.content				{	display:block; height:auto; }
#mensaje 				{	display:inline-block; background:#fff;width:940px;	}
.derecha 				{	display:inline;margin:0 0;padding:0;text-align:right;width:50%;	}
#extras_especiales		{	clear:none; display:inline-block; float:left; height:auto; width:170px;	}

/***** Listados *****/
.tabla					{	min-height:400px; background:url(../images/loading.gif) center 150px no-repeat;	}
#listar 				{ 	background:#FFF; margin:0 10px; display:inline-block; text-align:right; width:940px; float:left; 	}
#listar ul 				{ 	background-color: #FFF;  min-height: 200px; margin:0px; padding:0; color:#fff; display:inline-block;list-style :none;text-align:left;width:100%;}
#listar ul li 			{	display:inline-block; margin:4px; min-height:50px; vertical-align:top; width:277px; /*display: -moz-inline-stack;*/ min-height:50px; width:277px; .width:277px; _width:277px; zoom: 1; *display: inline;}
#listar ul li 			{	-moz-border-radius: 15px;-khtml-border-radius: 15px;-webkit-border-radius: 15px;border-radius: 15px;	 position:relative; background:#F8F8F8; color:#989697; overflow:hidden; padding:8px 12px;  height:auto;}
#listar ul li .img_list	{ 	-moz-border-radius:8px 8px 8px 8px; background:url("../images/loading.gif") no-repeat scroll center center #FFF; display:inline-block; float:left; height:103px; margin:2px 8px 0 2px; overflow:hidden; text-align:center; width:100px; }
#listar ul li:hover 	{ 	background:#efefef; border:0px solid #369ACD; color:#222;}
#listar b 				{ 	color:#D21D12; display:inline-block; vertical-align:top;	}
#listar .content,
#listar .contentPhoto 	{ 	float:left; height:auto; overflow:hidden; text-align:left; width:165px;}
#listar .content		{	width: 100%;	}
#listar .actions 		{ 	border:0 none; bottom:0; display:none; float:none; margin:0 10px 2px 0; position:absolute; right:-10px; text-align:right; width:auto;	}
#listar .actions a 		{	display:inline-block;height:32px;margin:2px;width:32px; }

#listar	.mostrar 		{ 	background: url(../images/iconos/mostrar.png) no-repeat top center	}
#listar	.editar 		{ 	background:	url(../images/iconos/editar.png) no-repeat top center	}
#listar	.nuevo 			{ 	background: url(../images/iconos/nuevo.png) no-repeat top center	}
#listar	.editaresp 		{ 	background:	url(../images/iconos/editar.png) no-repeat top center	}
#listar	.editardirecto 		{ 	background:	url(../images/iconos/editar.png) no-repeat top center	}
#listar	.campana 		{ 	background: url(../images/iconos/campana.png) no-repeat top center	}
.eliminar				{ 	background: url(../images/iconos/eliminar.png) no-repeat top center	}
#listar	.pics 			{ 	background:	url(../images/iconos/campana.png) no-repeat top center	}
#listar	.no_home 		{ 	background:	url(../images/iconos/home_no.png) no-repeat top center	}
#listar	.destacado 		{ 	background: url(../images/iconos/destacado.png) no-repeat top center}
#listar	.no_destacado 	{ 	background: url(../images/iconos/no_destacado.png) no-repeat top center}
#listar	.activar 		{  	background:	url(../images/iconos/activar.png) no-repeat top center	}
#listar	.desactivar 	{ 	background:	url(../images/iconos/desactivar.png) no-repeat top center}
#listar	.configurar 	{ 	background:	url(../images/iconos/configurar.png) no-repeat top center}
.fixrighticon			{	display: inline-block; float: right; height: 32px; width: 32px;}
.bleditimagen			{	display: inline-block; width:100%; height:auto; margin-bottom:20px;}
#listar	.versiones	{ 	background:	url(../images/iconos/subcategorias.png) no-repeat top center}

#listar #mensajes_actualizado {	background:#333333 none repeat scroll 0 0;color:#FFFFFF;display:inline-block;float:left;font-size:11px;line-height:0;text-align:center;text-transform:uppercase;width:200px; height:20px ; line-height:20px}
#listar #mensajes_actualizado { -moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; }

.imgact 		{ 	-moz-border-radius:0 4px 4px 0; background:none repeat scroll 0 0 #FFFFFF; border:1px solid #CCCCCC; border-left:0; display:none; height:97%; padding:2px; position:absolute; right:-1px; top:-1px; width:32px; z-index:100;	}
.pImg 			{ 	background: #b0b8d0; }
.derecha 		{	display:inline;margin:0 0;padding:0;text-align:right;width:50%;}
#multimedia img { 	border:1px solid #0B3D54	}
.eliminar 		{ 	background: url(../images/iconos/eliminar.png) no-repeat top	}
.photo_principal{	background: #1A3369 !important;	}
.ver_pic		{	background:url("../images/iconos/ver.png") no-repeat scroll left top transparent; }
a.descarga		{	background:url("../images/iconos/descargar.png") no-repeat scroll left top transparent;	}
a.descarga		{	display:inline-block; font-size:12px; font-weight:bold; height:30px; line-height:30px; margin:5px 0; padding-left:45px; width:130px; 	}
.home 			{ 	background: url(../images/iconos/home.png) no-repeat top}
.pics 			{ 	display:inline-block; vertical-align:top;  zoom: 1; *display: inline; position:relative;  -moz-border-radius:4px 4px 4px 4px; margin:6px; cursor:pointer; background:url("../images/loader.gif") no-repeat scroll 28px center transparent; border:1px solid #CCCCCC; height: auto; padding:5px; width: auto; min-height:91px; min-width:80px;}
#pics 			{ 	margin:0px  !important; text-align:center; width:auto !important; }
#pics a 		{ 	display:inline-block; float:right; height:32px; text-align:right; width:32px; }
.nocursor		{	cursor:default; width:278px;}
.flotando_izquierda	{float:left}
.botonesgale	{	width:180px; height:50px; display:inline-block; float:left; margin-left:10px}
.botonesgale a	{ 	width:32px; height:32px; display:inline-block}
.modinfo_pic	{	background-image:url(../images/iconos/save.png)}
.textoinfogalesgale{ float:left; width:198px; text-align:right}
.textoinfogalesgale input, .textoinfogalesgale textarea, .textoinfogalesgale select{ width:100px !important;}
.cambiar_foto	{	background:url("../images/iconos/correcto.png") no-repeat scroll left top transparent; color:#888888; cursor:pointer; display:inline-block; font-size:12px; height:32px;	}
.idimagen		{	width: 80px;	}
.picInfo		{	width: 113px; overflow: hidden; float: right; margin-left: 10px;	}
#pics .picInfo textarea	{	height:60px; width:105px;	}

/**** Nuevo Listado **/
.editaringrid{background-image:url(../images/editar.png); background-repeat:no-repeat; width:25px; height:20px; display:inline-block; cursor:pointer}
.eliminaringrid{background-image:url(../images/eliminar.png); background-repeat:no-repeat; width:25px; height:20px; display:inline-block; cursor:pointer}
.checkingrid{background-image:url(../images/check_box.png); background-repeat:no-repeat; width:32px; height:20px; display:inline-block; cursor:pointer}
.checkingridoff{background-image:url(../images/check_box_off.png); background-repeat:no-repeat;width:32px; height:20px; display:inline-block; cursor:pointer}
.fechaboton{ cursor:pointer}
/***** Mostrar *****/
#mostrar 			{	height:auto;padding:10px 20px 30px;width:auto;text-align:center;background:#333;border:1px dashed #eee;}
#mostrar .banner_adm{	width:655px;overflow:auto;	}
#mostrar .titulo	{	color:#CC3300;font-size:14px;font-weight:bold;height:25px;left:18px;position:relative;text-align:left;}

/***** Estadisticas *****/
#home 				{ 	width:100%;	height:auto;	}
#home fieldset ul	{ 	display:inline-block;height:auto;list-style:none;margin:10px 0;padding:0;text-align:center;width:100%;}
#home fieldset ul li{ 	background:#666666;float:left;margin:0 2px;text-align:center;width:65px;}
#home h3 			{ 	font-size:12px;	}

/***** ToolBar *****/
#toolBar 				{ 	display:inline-block; margin:0 auto 5px; text-align:right; width:940px;	}
/*#toolBar p 				{	float:left; margin:0px;text-align:left; width:700px	}*/
#toolBar a 				{ 	display:inline-block;font-weight:bold;height:26px;line-height:26px;text-align:left;width:auto; margin-right: 2px;}
#toolBar a.agregar 		{	background:transparent url(../images/iconos/agregar.png) no-repeat scroll left top; display:inline-block;font-weight:bold;height:32px;line-height:30px; margin-left:0px;text-align:right;width:130px;padding:0px;}
#toolBar a span 		{ 	display:inline-block;line-height:15px;vertical-align:top; }
#toolBar select 		{ 	font-size:11px; height:21px; font-weight: normal; }
#toolBar span.opciones	{ 	float:left; margin:5px 0 5px 1%; text-align:left; width:21%; } 
.buscador				{	height:auto; left:0px; padding:5px 10px; position:absolute; text-align:left; width:790px;	}

.activaBuscador			{	float: right; }	
.opc					{	background:none repeat scroll 0 0 #FFF; border:1px solid #AAA; color:#000; padding:2px; height: 15px;	}

#menu_busqueda 		{ 	position:absolute; display:none; float:inherit; clear:both; margin:2px 1%; font-size:10px; color:#D21D12 }
#menu_busqueda ul 	{ 	list-style:none; padding:0px; margin:0px	}
#menu_busqueda ul li{ 	float:left	}
#menu_busqueda input{ 	font-size:10px; color:#666	}

.guardar			{	-moz-border-radius:8px;  display:none; height:64px;  width:200px; float:left;  border-radius:8px;}

#listar #paginador 				{ 	display:block; height:18px; text-align:right  }
#listar .paginador 				{ 	display:inline-block; text-align:right; width:auto; margin:2px 2px 4px;  }
#listar	.paginador a			{ 	display:inline-block; height:14px; margin:2px 0 -5px; padding:2px; text-align:center; width:14px; }
#listar .paginador a.anterior	{ 	background:url("../images/left.png") no-repeat scroll top center transparent;	}
#listar .paginador a.siguiente	{ 	background:url("../images/right.png") no-repeat scroll top center transparent;	}
#listar	.paginador a:hover		{	background-position: center -18px; }

/***** Extras Sistema *****/
/* Tool tip */
a.ayuda		{	background: url(../images/iconos/info.png) no-repeat center top; width: 32px; height: 32px; display: inline-block; position: absolute; right: 10px; top:0;	}
.tooltip 	{	display:none; background:transparent url(../images/white_arrow.png); font-size:12px; height:70px; width:160px; padding:25px; color:#666;	}

/* Overlays */
div.overlay 			{ 	height:auto; width:auto; display:none;	} 
div.overlay div.close 	{	z-index:100000; background-image:url(../images/close.png);position:absolute;right:-16px;top:-15px;cursor:pointer;height:35px;width:35px;} 
div.contentWrap 		{ 	overflow:auto; min-width:420px;; height:auto; background: no-repeat scroll center top transparent;	}
div.files_class			{	width:650px; height:250px; display:inline-block ; background:#fff !important;}
div.backImg				{	background:#fff; padding:25px 15px; -moz-border-radius:15px 15px 15px 15px;}

#mensajes_sistema 		{ font-family: Arial, Helvetica, sans-serif;}
#mensajes_sistema 		{ margin:0 auto;background:transparent url(../images/bienvenida.png) no-repeat scroll center top; height:253px; text-align:center; width:520px; }
#mensajes_sistema span 	{ font-size:14px; line-height:90px; position:relative; text-transform:uppercase; top:-10px; }
#mensajes_sistema a 	{ color:#0B3D54;font-style:italic;text-transform:none;}
#mensajes_sistema p.advertencia { display:block; font-size:15px; font-weight:bold; left:100px; .left:95px; margin:0; position:relative; top:100px; width:325px; color:#fff }

#log div.overlay 			{ 	width:520px; height:auto; color:#222; display:none;padding:0px; font-weight: bold; -moz-border-radius: 11px;-khtml-border-radius: 11px;-webkit-border-radius: 11px;border-radius: 5px;	border: 5px solid #e5e5e5;-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;	box-shadow: rgba(200,200,200,1) 0 4px 18px; } 
#log div.overlay div.close 	{ 	background:none 	} 
#log div.wrapLog 			{ 	height:auto; overflow:hidden; width:auto; 	}
#login label.error 			{ 	width: auto;font-size:10px;color:#FF0000;display:block;text-align:left; 	}

#widget { position: relative; }
#widgetCalendarEventos { height:0;left:2px;overflow:hidden;position:absolute;top:0px;width:400px;z-index:10;}
.no_exist { width:90% !important; margin-top:25px !important; border:0 none !important;color:#CC3300 !important	;display:block;font-size:12px;font-weight:bold;height:80px;line-height:80px;text-align:center;vertical-align:middle;}

.overlaycontentextra {display:none;z-index:1000100 !important;background-color:#fff;width:770px;	min-height:200px; max-height:500px; border:1px solid #666;-moz-box-shadow:0 0 90px 5px #000;-webkit-box-shadow: 0 0 90px #000;	}
.overlaycontentextra .close {background-image:url(../images/close.png);position:absolute;right:-15px;top:-15px;cursor:pointer;height:35px;width:35px;}

/** Comunes **/
.botones 	{ 	-moz-border-radius:5px; border-radius:5px; border:1px solid #94150d !important;  color:#FFF; cursor:pointer; font-size:11px; font-weight:bold; padding:8px 8px;	}
.disabled	{	visibility:hidden; }

/* Validator */
.nuevo label.error 		{ 	background:none repeat scroll 0 0 #DDDDDD; border:0 none; color:#D21D12; display:block; font-size:11px; font-weight:bold; height:20px; text-align:left; width:auto;	}
.nuevo label.error em 	{	border-color:#000000 transparent transparent; border-style:solid; border-width:10px; bottom:-17px; display:block; height:0; left:150px; position:absolute; width:0;	}
.nuevo input.error, .nuevo textarea.error 	{	background:#FFCCC5	}

/** UPLOADIFY **/
.uploadifyQueueItem 			{ 	-moz-border-radius:4px 4px 4px 4px; background-color:#666666; border:3px solid #333333; color:#FFFFFF; float:left; font:11px Verdana,Geneva,sans-serif; margin:5px 2px; padding:5px 8px 5px 5px; width:195px;}
.uploadifyQueueItem .cancel 	{ 	float: right;}
.uploadifyProgress 				{ 	background-color: #FFFFFF;height:3px;border-top: 1px solid #808080;border-left: 1px solid #808080;border-right: 1px solid #C5C5C5;border-bottom: 1px solid #C5C5C5;margin-top: 10px;width: 100%;}
.uploadifyProgressBar			{ 	background-color: #D21D12; height: 3px; width:0; }
.uploadifyError 				{ 	background-color: #A00000 !important; border:1px solid #500000 !important; }

/** DateInput **/
#calroot 			{ 	z-index:15; margin-top:-1px; width:198px; padding:2px; background-color:#fff; font-size:11px; border:1px solid #ccc; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow: 0 0 15px #666; -webkit-box-shadow: 0 0 15px #666;	}
#calhead 			{	padding:2px 0; 	height:22px; } 
#caltitle 			{	font-size:14px;	color:#0150D1; float:left; text-align:center; 	width:155px; line-height:20px; text-shadow:0 1px 0 #ddd; }
#calnext, #calprev	{	background:url("../images/left.png") no-repeat scroll center top transparent; cursor:pointer; display:block; float:left; height:18px; width:20px;	}
#calnext 			{ 	background-image:url("../images/right.png"); float:right;	}
#calprev.caldisabled,
#calnext.caldisabled{ 	visibility:hidden;	}
#caltitle select 	{	font-size:10px;	}
#caldays 			{ 	height:14px; border-bottom:1px solid #ddd;}
#caldays span 		{	display:block; float:left; width:28px; text-align:center;}
#calweeks 			{	background-color:#fff; margin-top:4px;	}
.calweek 			{ 	clear:left; height:22px;	}
.calweek a 			{ 	display:block; float:left; width:27px; height:20px; text-decoration:none; font-size:11px; margin-left:1px; text-align:center;	line-height:20px; color:#666; -moz-border-radius:3px; -webkit-border-radius:3px;	} 
.calweek a:hover,
.calfocus 			{	background-color:#ddd;	}
a.calsun 			{	color:red;		}
a.caloff 			{	color:#ccc;	}
a.caloff:hover 		{	background-color:rgb(245, 245, 250);	}
a.caldisabled 		{	background-color:#efefef !important;	color:#ccc	!important;	cursor:default;	}
#calcurrent 		{	background-color:#498CE2; color:#fff;	}
#caltoday 			{	background-color:#333; color:#fff;	}
#caltitle select	{	width: 70px;}

/* Interiores */
#interior_menuvertical{ width:150px; height:auto; min-height:200px; float:left; margin:19px 0 0 10px; text-align:left; border: 1px solid #DDDDDD;}
#interior_menuvertical ul{margin:0; padding:0; list-style:none}
#interior_menuvertical li{margin:9px 0; padding:0; list-style:none; width:150px;}
#interior_menuvertical img{float:left}
#interior_menuvertical a{ color:#555; font-size:14px;}
#interior_contenidos{ width:730px; height:auto; float:left; margin-left:10px;}
#interior_submenu_main{ width:730px; height:auto; min-height:80px; display:inline-block; margin-left:10px; text-align:left; border: 1px solid #DDDDDD;}
#interior_submenu_main ul{margin:0; padding:0; list-style:none; width:730px; float:left}
#interior_submenu_main li{margin:7px; padding:0; list-style:none; width:168px; float:left; border:1px #D6D7FE solid;}
#interior_submenu_main h1 .addsubmenu_i{float:left !important; width:145px; color:#990000; font-size:14px; margin-top:10px;}
#interior_submenu_main h1{width:730px; height:38px; background-color:#ddd; float:left; color:#CC3300; font-size:14px; font-weight:bold;}
#interior_submenu_main .del_su1{float:left; width:128px; height:16px}
#interior_submenu_main .del_su3{float:right; background-color:#CCCCCC; color:#993333; width:20px; text-align:center}
.ancho_interior{ width:740px !important}
.ancho_interior_largo{ width:940px !important;}

#interior_panel{ width:730px; height:auto; display:inline-block; margin:20px 0 0 10px; text-align:left; border: 1px solid #DDDDDD; float:left}
#interior_panel h1 .addsubmenu_i{float:left !important; width:160px; color:#990000; font-size:14px; margin-top:10px;}
#interior_panel h1{width:730px; height:38px; background-color:#ddd; float:left; color:#CC3300; font-size:14px; font-weight:bold;}
.dejapading10{ width:550px; float:left; height:auto; margin:10px;}
#editar_submenu_interior{display:none; width:730px; height:auto}

/* Galeria */
#recuadropestana{float:left; height:auto; width:760px; text-align:left; margin:30px 0 0 30px;}
#recuadropestana ul{float:left; height:auto; width:760px; padding:0; margin:0;}
#recuadropestana li{float:left; height:auto; width:760px;padding:5px 0px 5px 10px; margin:0; list-style:none}
#recuadropestana .camposocultos{float:left; width:auto; left:auto; display:none}
#recuadropestana #agregar{float:left; width:760px;; height:30px; text-align:right; background-color:#ddd; border-bottom:1px solid #aaa; padding-top:5px}
#recuadropestana #agregar a{margin-right:20px !important; }
#recuadropestana #listadooculto{float:left; width:auto;; height:auto; }
#recuadropestana #marcamodelo{ width:910px; height:auto; float:left; margin:10px 0; font-weight:bold;}
#recuadropestana .titulolistaesp{float:left;height:auto;width:150px;}
#recuadropestana .detallelistaesp{float:left;height:auto;text-align:right;width:50px; }
#recuadropestana .listarespecial{float:left;height:76px;width:204px; border:1px solid #CCCCCC; padding:5px; margin:5px; overflow:hidden}
#recuadropestana .titulodet{float:left; height:auto; width:150px;}
#recuadropestana .detalledet{float:left; height:auto; width:350px;}
#recuadropestana .menu_acciones{cursor: pointer; display: inline-block; height: 23px;padding: 0 10px;text-align: left;width: auto; font-size:14px}
#recuadropestana .menu_acciones img{margin-top:3px;}

#menucms {position:absolute; z-index:999}
#menucms .subnav a{ color:#FFF}
#menucms .subnav a:hover{ color:#FFF}
.imgBorder img{max-width:440px !important;}
/*Extras */



.btn_backtoseccion{ width:770px; height:auto; float:left; text-align:right;}
.btn_backtoseccion a{background: url("../images/iconos/regresar.png") no-repeat scroll 0 0 transparent !important;height: 32px !important;line-height: 30px !important;text-align: right !important; width: 145px !important; display:inline-block; font-weight:bold}
.name_financ{display: inline-block; height: 25px;    margin-right: 27px;    text-align: right;    width: 116px;}
.value_financ{width:100px; height:25px; display:inline-block}
.filesetextras{padding:0 !important}
.filesetextras #recuadropestana{margin:30px 0 0 0px !important; }
.mostrargaleriai{margin-left:30px !important;}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/*Mod_menu*/
.mm_categoria{width:805px; margin-bottom:20px;}
.mm_dtcat{width:780px; display:inline-block; margin-bottom:10px; border-top:1px dotted #ddd; padding-top:4px;}
.mm_subcategoria{margin:0 0 4px 70px; height:auto; width:734px; display:inline-block}
.mm_scsub{height:auto; width:772px; margin-bottom:5px; display:inline-block; border-bottom:1px solid #F8F8F8}
.mm_scsub:hover{ border-bottom:1px solid}
.mm_scsub3{margin:0 0 2px 70px; height:auto; width:710px; display:inline-block; border-bottom:1px solid #F8F8F8}
.mm_scsub3:hover{ border-bottom:1px solid}
.mmoculto{ display:none; width:750px;  margin:0 0 20px 20px;}
.immput{ width:200px !important }
.immputsel{ width:130px !important }
.mmspan{float:left; margin-left:3px; margin-right:3px; min-width:680px; }
.mmspan2{float:left; margin-left:3px; margin-right:3px; min-width:610px; }
.mmspan3{float:left; margin-left:3px; margin-right:3px; min-width:540px; }
.mmcheck{float:left}
.immputsub{padding:2px; margin:3px}
#nuevomenuseccion{ border:1px solid #ccc; margin-top:30px;}
.immputsubadd{padding:6px 6px 6px 36px; font-size:20px; background-image:url(../images/iconos/agregar.png); background-repeat:no-repeat}
.handlerimg{ width:20px; height:18px; display:inline-block; background-image:url(../images/up_down.gif); background-repeat:no-repeat }
.handlerimgch{ width:15px !important; height:12px !important; margin:0 !important; display:inline-block; background-image:url(../images/up_downch.png); background-repeat:no-repeat; background-position:center center; }
.handlerimgch:hover{background-image:url(../images/movech.png)}
#listadoxlst{border: 2px solid #CCCCCC; display: inline-block; height: auto; margin:0 50px; overflow: auto; padding-bottom: 20px; width: 860px;}

.multinivelfolk{ width:422px; max-height:250px; overflow:auto; text-align:left; margin:5px; border:solid 1px #CCC}
.controlsarbol{float:right; display:inline-block; height:auto; width:auto}
.titulosarbol{float:left; display:inline-block; height:auto; width:auto}
.arbol_categorias{width:800px; height:auto; display:inline-block; margin:2px 0;}
.arbol_categorias li{width:800px; height:auto; display:inline-block; margin:3px 0; border-bottom:1px dotted #eeeeee}
.arbol_categorias a{width:auto; height:auto; margin:0 5px; display:inline-block}
#editarmenuseccion{display:none}
#returntree{width:800px; height:auto; display:inline-block; text-align:right; font-size:18px;}
#returntree img{margin-bottom:-8px;}

/** DASHBOARD  */
#dashboardhome{ display: inline-block; height: auto; min-height: 500px; text-align: left; width: 940px;}
.bloque_dashboard{display: inline-block; height: auto; text-align: left; width: 940px; margin:10px 0}
.bloque_dashboard h1{ font-size:14px; font-weight:bold; color:#666}

input[type=text], input[type=password], textarea{
	background:url(../images/input.jpg) no-repeat left top #FFF ;
	border:1px solid #DDD ;
}

#guardar{	   color: #FFF !important;cursor: pointer;font-size: 30px;font-weight: bold;margin: padding: 4px 8px;	}

.nuevo[type="checkbox"]{ width:40px !important;}
.nombredesubcategoria{font-size:30px;}
.nombredesubcategoria a{float:left; display:inline-block}
.mitaddl{width:216px !important;}
.mitaddl dt{width:150px !important;}
.bloquebullet{border-bottom: 1px solid #666666; padding: 8px 0 !important;}
.bloquebullet dt{width:435px !important; text-align:left; margin: 0 12px 0 0 !important; }
.blimina{margin:0 0 0 50px;}
#addbulletsc{clear: both; display: inline-block; font-size: 14px; margin: 14px 0 0;}
#linkpromo2{display:none}
.bullis{width:282px; margin-right:20px; display:inline-block; float:left}
.bullis a{float:right; border:4px solid #eee;}
.mider{background-color:#ddd; border:4px solid #ddd; width:274px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px}

#panelflotante{float: left; width: 192px;}
#panelflotante input{ width:180px;}
#panelflotante select{ width:185px;}

/** TICKETON **/
#halffielset dl{ width:217px;}
#halffielset dt{ width:162px;}
#fieldsetradio input{margin-right:10px;}
.fecha_input_eng{width:75px;}
#ftitulo{ width:400px;}
#contenedorfiltro{margin-bottom: 8px; margin-top: 12px; text-align: left; width: 940px;}
.specialbuttons {background-color:#CCC; color:#000; padding:5px 20px; cursor:pointer; margin:10px; border:1px solid #999}
#filtroavanzado{display:none}
.listadfiltro{ border: 1px solid #EEEEEE; display: inline-block; float: left; margin: 2px; width: 464px; padding:2px 0}
.listadfiltro dt{width:120px; float:left; text-transform:uppercase}
.listadfiltro dd{width:112px; float:left; font-size:8px;}
.listadfiltro dd input{margin-left:7px;}
.listadfiltro .titulo{width:382px;}
#cuadrospeques input{width:44px;}
#cuadrospeques dt{width:140px; float:left; text-transform:uppercase}
#cuadrospeques dd{width:55px; float:left}
#cuadrospeques .titulo{width:382px;}
.columnleft{width:470px; float:left; display:inline-block}
.tdeshabilitados{border:none !important; background:none !important;}
.thabilitados{background:url("../images/input.jpg") no-repeat scroll left top #FFFFFF !important; border:1px solid #DDDDDD !important}
#f_allevents{float:left}
#f_print{float:left}
#f_dlexcel{float:left}
#f_fullreport{float:left}
.ddsieditable{display:none}
.conautorelleno{width:433px; display:inline-block; margin:0 0 8px 0}
.conautorelleno textarea{width:432px; height:30px;}
.conautorelleno dd{font-size:9px}
.fuentetBG{font-size:12px !important}
#firstnameInput{display:none}
#lastnameInput{display:none}