.elementeditable{display: none;}

/****** CUSTUMIZE THEME ELEMENTS *****/
.stepy-titles div{display: none;}
.stepy-titles span{display: inline-block; padding: 0 10px; box-shadow: 0 4px #9C9C9C;background-color: #BEC3C7; border-color: #BEC3C7; color: #FFFFFF;-moz-user-select: none;  border-radius: 4px;    cursor: pointer;    display: inline-block;    font-size: 14px;    font-weight: normal;    line-height: 1.42857;    margin-bottom: 0;    padding: 6px 12px;    text-align: center;    vertical-align: middle;    white-space: nowrap;}

.typeahead-devs, .tt-hint {
border: 2px solid #CCCCCC;
border-radius: 8px 8px 8px 8px;
font-size: 24px;
height: 45px;
line-height: 30px;
outline: medium none;
padding: 8px 12px;
width: 400px;
display: none;
}

.tt-dropdown-menu {
width: auto;
min-width: 194px;
max-width: 400px;
margin-top: 5px;
padding: 8px 12px;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 8px 8px 8px 8px;
font-size: 18px;
color: #111;
background-color: #F1F1F1;
}
.twitter-typeahead{width: 100%}
.dropdownsmall{font-size: 9px;}

#advancesearchpanel{display: none;}

#contenedorfiltro{margin-bottom: 8px; margin-top: 12px; text-align: left; width: 98%; margin-left:2%;}
.listadfiltro{ border: 1px solid #EEEEEE; display: inline-block; float: left; margin: 2px; padding:2px 0; width:98%}
.listadfiltro dl{border: 1px solid #EEEEEE; float: left; margin: 0; width: 150px;}
.listadfiltro dt{width:140px; float:left; text-transform:uppercase; font-size:12px}
.listadfiltro dd{float: left; font-size: 12px; margin: 0; width: 140px;}
.listadfiltro dd input{margin-left:7px;}
.listadfiltro .titulo{width:382px; font-size:14px}
.listadfiltro select{width:100px;}
.listadfiltro input[type="text"]{height:18/px; padding:0; margin:0}
.Rotate-90{  -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);  -ms-transform: rotate(-90deg);  -o-transform: rotate(-90deg);  transform: rotate(-90deg);  -webkit-transform-origin: 50% 50%;  -moz-transform-origin: 50% 50%;  -ms-transform-origin: 50% 50%;  -o-transform-origin: 50% 50%;  transform-origin: 50% 50%;  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.verticaloide{ width:20px; height:100px}
#filtrovertical { height:200px;}
#filtrovertical .Rotate-90{margin-bottom: 96px;margin-left: -93px;width: 200px;}
.spacetablever{width:20px; float:left; margin-top:18px; height:176px; overflow:hidden}
.sinborde{float:left; border:none; width:auto; margin:0}
#accountingfilter{width:152px;}
#eventfilterstats{width:296px;}
#eventinfofilter{width:323px;}
#promoterfilter{width:222px;}
#eventinfofilter span{font-size:14px;}
#eventinfofilter input[type="checkbox"]{margin:-4px 3px 0 8px}
#eventinfofilter textarea{font-size: 10px; height: 26px;line-height: 10px; margin: 0; padding: 0;}
#promoterfilter dl{width:220px}
.listadfiltro .titulopromoter{width:100%}
#promoterfilter .titulo{width:100px}
.clear{clear:both;}
.bio-row p{margin:0;}
.bio-row {margin-bottom: 5px;}
#phaseslabels span{margin: 2px 2px; display: inline-block;}
.nav > li > a { padding: 10px 5px;}
.imagenfrompanel{max-width: 50%;}


/* ESPECIFICOS*/
.columnphases{ width: 36px; font-size: 9px;}
.columnsahidden{display: block; height: 23px; overflow: hidden;}
.tdfordate{width: 58px}
.dd3-content {height:90px;}
.dd3-content img{max-height: 75px;}
.botonesgale	{	width:180px; height:50px; display:inline-block; float:right; margin-left:10px}
.botonesgale a	{ 	width:32px; height:32px; display:inline-block}
.modinfo_pic	{	background-image:url(../images/iconos/save.png); cursor:pointer;  margin-left:1em;}
.textoinfogalesgale{ float:right; width:198px; text-align:right}
.textoinfogalesgale input, .textoinfogalesgale textarea, .textoinfogalesgale select{ width:100px !important;}
.ddcontainimg{width:155px; float: left; background-color:#fff; overflow:hidden;}
.dd3-content a.eliminar 		{ 	background: url(../images/iconos/eliminar.png) no-repeat top; cursor:pointer;	}
.ver_pic		{	background:url("../images/iconos/ver.png") no-repeat scroll left top transparent; cursor:pointer; margin-left:1em; }

.formpop textarea{height: 200px;}

textarea.form-control{height: 200px}
.tabmodo{display: none}
.tabmodo.on{display: block;}

#puntoenmapa{height: 20px; width: 20px; display: inline-block; display: none;position: absolute;}
#puntoenmapa img{ left: -10px;position: absolute;top: -10px;}
#dragon{width: 99%; overflow: auto; height: 350px; border: 1px solid #ccc;margin-bottom: 10px; cursor: crosshair;position: relative; }
#imglocal{border-right: 1px solid #666}
#puntostodos{cursor: crosshair;position: relative;padding:0;  }
#listadotodospuntos{max-height: 400px; overflow: auto; background-color: #ddd; padding: 0}
.badget-info{color:#2695eb}