body { 	background:#1D6EA6 url(../images/fondogeneralbolas.jpg) repeat-x  center top; font-size:11px; margin:0;  }
body,html{width:100%; padding:0; font-family: 'Lato', sans-serif;}
a {text-decoration:none}
a:hover {text-decoration:none}

#headergeneral{height:100px; margin:0 0 10px 0; width:100%; display:inline-block; text-align:center}
.logologin{display:inline-block}
.logologin img{ float:left}
.logount{display:inline-block;position: absolute;right: 120px;}
.footerp{color:#FFF; text-align:right}
.footerp a{color:#FFF; text-decoration:none}

.contenedormod{ background-color:#f4f4f4; }
.barratopmod{ background-color: #BFC1C3; border-bottom: 10px solid #092B47; color: #0F4567; font-size: 24px; height: auto; min-height: 50px; padding-bottom: 10px; width: 100%;}
.barratopmod h1{display: inline-block; float: left; font-size: 32px; font-weight: normal;  margin-left: 36px; margin-bottom:2px; text-transform: uppercase;}
.barratopmod p{clear: both; display: inline-block; float: left; font-size: 16px; line-height: 15px;margin: 0 0 0 34px;}
.barratopmod .botonback{float:right; background-image:url(../images/back.png); width:51px; height:70px; display:inline-block; position:relative; margin-top:-32px; cursor:pointer; margin-right:10px }
.barratopmod .botonnew{float:right; background-image:url(../images/new.png); width:51px; height:70px; display:inline-block; position:relative; margin-top:-32px; cursor:pointer; margin-right:10px }
.barratopmod .botondel{float:right; background-image:url(../images/del.png); width:51px; height:70px; display:inline-block; position:relative; margin-top:-32px; cursor:pointer; margin-right:20px }
.clear{clear:both}
#listpadBD th{background-color:#09283C; color:#FFF}
#listpadBD{border-collapse: separate; border-spacing: 5px;width:100%;}
#listpadBD .blackrow td{background-color:#e3e3e3;padding: 0 0 0 10px;}
#listpadBD .whiterow td{background-color:#f1f1f1;padding: 0 0 0 10px;}
#listpadBD a{  display: block; max-height: 20px; line-height:20px; overflow: hidden;}
#paginadolistado{ text-align:right; margin:0 10px;}
#paginadolistado a{padding:10px; cursor:pointer}
.pagselected{ color:#F00}
#toolBar 				{ 	display:inline-block; margin:0 auto 5px; text-align:right; width:100%;	}
#contenedorfiltro{margin-bottom: 8px; margin-top: 12px; text-align: left; width: 98%; margin-left:2%;}
.specialbuttons {background-color:#CCC; color:#000; padding:5px 20px; cursor:pointer; margin:10px; border:1px solid #999}
#filtroavanzado{display:none}
.printico{background-image:url(../images/print.png); width:24px; height:24px; display:inline-block; cursor:pointer; margin:10px 10px;}

/**Botonera */
.editarRow{background-image:url(../images/iconos/editar.png); width:30px; max-height:30px !important; display:inline-block !important; line-height:30px !important; cursor:pointer;margin: 0 8px 0 0;}
.eliminarRow{background-image:url(../images/iconos/eliminar.png); width:30px; max-height:30px !important; display:inline-block !important; line-height:30px !important; cursor:pointer;margin: 0 8px 0 0;}
.verRow{background-image:url(../images/iconos/ver.png); width:30px; height:30px; display:inline-block; cursor:pointer;margin: 0 8px 0 0;}

fieldset { padding: 5px; padding-bottom: 0px;}
.panel span{padding-top:5px; display:inline-block}
.ddsieditable{display:none; float: left; margin-left: 0; width: 60%;}
.ddnoeditable{margin-left: 0px; display:inline-block}
.ddsieditable input[type="text"]{width:90%}
.menupesta{ min-width:width:196px; background-color:#09283c;  float:left; width:196px;}
.menupesta a{ background-image: url("../images/menu_pestanas.png"); border-bottom: 1px solid #E3E3E3; color: #FFFFFF; cursor: pointer;  display: inline-block; font-size: 15px; font-weight: bold; height: 38px; padding-left: 30px;padding-top: 21px;  text-decoration: none;  width: 166px;}
.menupesta a.selected{ background-image:url(../images/menu_pestanas_sel.png); border-bottom:none}
.formcontenido{width:100%; }
.editarcolumn{width:120px; text-align:center; background-color:#d3d3d3; float:right; height:100%}
.buttoneditar{background-image:url(../images/editbig.png); width:120px; height:98px; display:inline-block; margin:0 auto; cursor:pointer}
.buttonsave{background-image:url(../images/savebig.png); width:120px !important; height:98px; display:inline-block; margin:0 auto; cursor:pointer; border:0}
dl{margin:2px 0 !important; font-size:14px}
.listadfiltro{ border: 1px solid #EEEEEE; display: inline-block; float: left; margin: 2px; padding:2px 0; width:98%}
.listadfiltro dl{border: 1px solid #EEEEEE; float: left; margin: 0; width: 150px;}
.listadfiltro dt{width:140px; float:left; text-transform:uppercase; font-size:12px}
.listadfiltro dd{float: left; font-size: 12px; margin: 0; width: 140px;}
.listadfiltro dd input{margin-left:7px;}
.listadfiltro .titulo{width:382px; font-size:14px}
.listadfiltro select{width:100px;}
.listadfiltro input[type="text"]{height:18/px; padding:0; margin:0}
.data_form{margin: 14px 0 0 40px;}
.titulo{color: #0F4567; font-size: 28px; margin: 0 0 26px 0;}
.Mcontrol-label{display:inline-block; width:35%; float:left}
.Mcontrols { display: inline-block; margin-left: 0px;}
.panel{display:none}
#mensaje .selected{display:block}
.Mcontrol-group{padding: 5px 0 5px 14px; overflow:auto}
.Mcontrol-group:nth-child(even) {background: #EAEAEA}
.Mcontrol-group:nth-child(odd) {background: #F1F1F1} 
.Mcontrol-group dt{text-transform:uppercase}

#tipolistadobotones{text-align: right; width: 100%;}
.porbloques{background-image:url(../images/bt_vistas_preowned.jpg); width:24px; height:24px; display:inline-block; cursor:pointer; margin:10px 2px;}
.porbloques:hover{background-position:0 24px}
.porlistado{background-image:url(../images/bt_vistas_preowned.jpg); background-position:48px 0; width:24px; height:24px; display:inline-block; cursor:pointer; margin:10px 10px 10px 0;}
.porlistado:hover{background-position:48px 24px}
.interiorrow{display:inline-block; width:100%; margin:0; padding:0}
.simplebloque{background-color: #E1E1E1; margin: 10px 36px; }
.textsimplebloque{margin:10px; display:inline-block}

#wrapper1 {position:relative;text-align:left;width:100%;background:url("../images/fondooscuro.png") repeat-y scroll right top #e3e3e3}
#wrapper2 {position:relative;text-align:left;width:100%;}
#maincol {position:relative;margin:0;}
#leftcol { position:relative;float:left;width:196px;  /* for IE5/WIN */voice-family: "\"}\"";voice-family:inherit;width:196px; /* actual value */background:#F4F4F4;z-index:100;}
#rightcol {position:relative;float:right;width:220px;  /* for IE5/WIN */voice-family: "\"}\"";voice-family:inherit;width:120px; /* actual value */margin:0 0 -10px 0;z-index:99;}
#centercol {position:relative;padding:0 116px;}
#centercol a {color:#666;}
#centercol a:hover {border-bottom:1px solid;color:#9343B9;}
.form-horizontal{margin:0}

.link-phase1{padding-bottom: 11px; padding-top: 7px !important;}
.link-phase2{padding-bottom: 11px; padding-top: 7px !important;}
.link-phase3{padding-bottom: 11px; padding-top: 7px !important;}

.Rotate-90{  
-webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.verticaloide{ width:20px; height:100px}
#filtrovertical { height:200px;}
#filtrovertical .Rotate-90{margin-bottom: 96px;margin-left: -93px;width: 200px;}
.spacetablever{width:20px; float:left; margin-top:18px; height:170px; overflow:hidden}
.sinborde{float:left; border:none; width:auto; margin:0}
#accountingfilter{width:152px;}
#eventfilterstats{width:280px;}
#eventinfofilter{width:323px;}
#promoterfilter{width:222px;}
#eventinfofilter span{font-size:14px;}
#eventinfofilter input[type="checkbox"]{margin:-4px 3px 0 8px}
#eventinfofilter textarea{font-size: 10px; height: 26px;line-height: 10px; margin: 0; padding: 0;}
#promoterfilter dl{width:220px}
.listadfiltro .titulopromoter{width:100%}
#promoterfilter .titulo{width:100px}
.ui-autocomplete { height: 200px; overflow:auto }

#block-promoter.panel_2cols{ float: left; width: 100%;}
#block-promoter.panel_2cols dl:not(.excludetam){float: left; margin-right: 2% !important; width: 46%; min-width:250px}
#block-promoter.panel_2cols dt{width:50%}
#block-phase1.panel_2cols{ float: left; width: 100%;}
#block-phase1.panel_2cols dl:not(.excludetam){float: left; margin-right: 2% !important; width: 46%; min-width:250px}
#block-phase1.panel_2cols dt{width:50%}
#block-phase2.panel_2cols{ float: left; width: 100%;}
#block-phase2.panel_2cols dl:not(.excludetam){float: left; margin-right: 2% !important; width: 46%; min-width:250px}
#block-phase2.panel_2cols dt{width:50%}
#block-phase3.panel_2cols{ float: left; width: 100%;}
#block-phase3.panel_2cols dl:not(.excludetam){float: left; margin-right: 2% !important; width: 46%; min-width:250px}
#block-phase3.panel_2cols dt{width:50%}
.espetialset{width:90%; padding:10px 5%; list-style:none; margin:0; background-color:#f6f6f6}
.ulset{padding:0; margin:0}

#f_allevents{display: inline-block; float: left;    font-size: 14px;    padding: 4px 10px 3px;    text-align: center;    width: 100px; }
#f_allevents:hover{color:#000}
#f_print{width:116px; display:inline-block; }
#f_fullreport{width:166px; display:inline-block; }
#f_dlexcel{width:113px; display:inline-block; }
#toolbarbotom form{display:inline-block; float:left}
#laylistapermisos a:hover{color:#666666; cursor:pointer; text-decoration:none}
#laylistapermisos a{ display: inline-block;  margin: 10px; text-decoration: none;}

.transactionstable{width: 100%; border: 1px solid #AAAAAA; border-spacing: 2px; border-collapse: separate;}
.transactionstable tr:nth-of-type(odd){
	background-color: #EEEEEE;
}
.transactionstable th{background-color: #DDDDDD}
.centradotd{text-align: center;}
.transactionstable .masoscuro{background-color: #cccccc; font-weight: bold;font-size: 14px}
.tdmid{padding: 0 !important; text-align: center;}


.remarcado{font-size:14px;}

.navbar-inverse .brand { color: #CCCCCC;}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {   color: #CCCCCC;  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}

.no-close .ui-dialog-titlebar-close {
display: none;
}
@media all and (min-width:1218px) {
	.panel_2cols { float: left; width: 400px;}
	.panel_2cols .Mcontrol-label {width: 40%;}
	.panel_2cols .data_form{margin:14px 0 0 0px;}
	.ddsieditable { width:50%}
}

@media all and (max-width:1218px) {
	#leftcol{width:196px}
	.menupesta{margin-left:0}
	.data_form { margin: 14px 0 0;}
	.buttoneditar{background-image:url(../images/editsmall.png); width:70px; height:60px;}
	.buttonsave{background-image:url(../images/savesmall.png); width:70px !important; height:60px;}
	.editarcolumn{width:70px; }
	#rightcol { width:70px; position:absolute; right:0}
	#centercol {padding: 0px;}
	#wrapper1 { background:none}
	.interiorrow{width:100%;}
	.spacetablever {    width: 16px;}
	.ddsieditable { width:50%}
}

@media all and (max-width:743px) {
	#block-promoter.panel_2cols dl:not(.excludetam){float: left; margin-right: 2% !important; width: 98%; min-width:250px}
	#block-phase1.panel_2cols{ float: left; width: 100%;}
	#block-phase1.panel_2cols dl:not(.excludetam){float: left; margin-right: 2% !important; width: 98%; min-width:250px}
	#block-phase2.panel_2cols{ float: left; width: 100%;}
	#block-phase2.panel_2cols dl:not(.excludetam){float: left; margin-right: 2% !important; width: 98%; min-width:250px}
	#block-phase3.panel_2cols{ float: left; width: 100%;}
	#block-phase3.panel_2cols dl:not(.excludetam){float: left; margin-right: 2% !important; width: 98%; min-width:250px}
	.ddsieditable input[type="text"]{width:90%}
	.logologin img{height:74px;}
}
@media all and (max-width:620px) {
	.logount{display:inline-block;position:relative;right: 0px; }	
	.spacetablever {    width: 12px;}
	
}

